sources/pug/pages/about.pug
extends  ../_skeleton

//- Includes

block variables
	- var activeCategory = 'about'
	- var pageName = 'About'

block page
	include ../sections/_header-classic

	+breadcrumbs({
		category: activeCategory,
		path: [pageName],
		bgImage: 'bg-breadcrumb-3-1920x238'
	})

	// General Info
	section.section.section-lg.bg-default.novi-bg.novi-bg-img
		.container
			.row.row-fix.row-50.justify-content-md-center.justify-content-lg-start
				.col-md-10.col-lg-6
					.image-custom-1: +jpg('about-1-601x350')

				.col-md-10.col-lg-6
					.box-inset-1
						// Bootstrap tabs
						#tabs-about.tabs-custom.tabs-horizontal.tabs-corporate.tabs-corporate_left
							// Nav tabs
							ul.nav.nav-tabs.list-fix
								li.nav-item: a.nav-link.active(href='#tabs-about-1' data-toggle='tab') What we do
								li.nav-item: a.nav-link(href='#tabs-about-2' data-toggle='tab') Our Mission
								li.nav-item: a.nav-link(href='#tabs-about-3' data-toggle='tab') Our Goal

							// Tab panes
							.tab-content
								div#tabs-about-1.tab-pane.fade.show.active
									h4 High-Quality Business Solutions
									p Consult is a business consulting company with more than 10 years of experience in the industry offering reliable and affordable services.
									p We serve clients at every level of their organization, in whatever capacity we can be most useful, whether as a trusted advisor to top management or as a hands-on coach for front line employees. For every engagement, we assemble a team with the most appropriate experience and expertise.

								div#tabs-about-2.tab-pane.fade
									h4 Providing Full Business Support
									p Consult offers advice and support to leading companies in various industries across the USA. We staff and manage your projects with our experts.
									p We are successful because of our people, the quality of our expert network and our flexibility to anticipate market changes and adapt to your needs. That is why we continuously invest in the education and coaching of our consultants and our team of recruiters and account managers.

								div#tabs-about-3.tab-pane.fade
									h4 Building Business Relationships
									p We aim to build a strong mutual business relationship with our clients and contribute to their success by responding to their needs.
									p Our goal is not to become the largest consultancy agency but to be the agency known for the outstanding and lasting results we achieve with our clients. We work to support you on all stages of your business’s development and to help you avoid unpleasant management experiences.
	="\n"

	include ../sections/_section-team-3-column

	include ../sections/_section-about-facts
	include ../sections/_section-our-clients
	include ../sections/_section-partners


	// Page Footer
	include ../sections/_footer-creative

builder/projects/template/about.html
<!DOCTYPE html><html class="wide wow-animation" lang="en"><head><title>About</title><meta name="format-detection" content="telephone=no"><meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta charset="utf-8"><link rel="icon" href="images/logo_carrito" type="image/logo_carrito.png"><link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:400,700%7CSpace+Mono:400"><link rel="stylesheet" href="css/bootstrap.css"><link rel="stylesheet" href="css/fonts.css"><link rel="stylesheet" href="css/style.css"><link rel="stylesheet" href="css/novi.css"><style type="text/css">     #page-loader {       position: fixed;       left: 0;       top: 0;       bottom: 0;       right: 0;       float: left;       display: flex;       align-items: center;       justify-content: center;       padding: 20px 20px 8%;       z-index: 9999999;       opacity: 1;       background: #fff;       transition: .3s all ease     }      #page-loader .page-loader-body {       text-align: center     }      #page-loader *+.cssload-wrapper {       margin-top: 30px     }      #page-loader.loaded {       display: none;       z-index: -10000     }      [data-x-mode=true] #page-loader {       display: none !important     }      .cssload-wrapper {       width: 300px;       max-width: 95%     }      .cssload-border {       position: relative;       width: 100%;       padding: 8px     }      .cssload-whitespace {       position: relative;       overflow: hidden;       width: 100%;       height: 5px;       margin: 0 auto     }      .cssload-line {       position: absolute;       width: 100%;       height: inherit;       background: linear-gradient(90deg, #04ccfc, #3a7bd5);       animation: cssload-slide 3s ease-in-out infinite both     }      @media (min-width:768px) {       .cssload-wrapper {         width: 400px       }     }      @keyframes cssload-slide {       0% {         left: -100%       }        100% {         left: 100%       }     }   </style><!--[if lt IE 10]><div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div><script src="js/html5shiv.min.js"></script><![endif]--><link rel="stylesheet" href="fonts/font-awesome-5-brands/fa-brands.css"></head><body><div id="page-loader"><div class="page-loader-body"><img src="images/logo_sice.png" alt="" width="104" height="20" srcset="images/logo_sice.png 2x"><div class="cssload-wrapper"><div class="cssload-border"><div class="cssload-whitespace"><div class="cssload-line"></div></div></div></div></div></div><div class="page"><header class="section page-header"><div class="rd-navbar-wrap"><nav class="rd-navbar rd-navbar-classic novi-bg" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-sm-device-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-stick-up-clone="false" data-md-stick-up-offset="74px" data-lg-stick-up-offset="66px" data-md-stick-up="true" data-lg-stick-up="true"><div class="rd-navbar-outer"><div class="rd-navbar-inner"><div class="rd-navbar-panel"><button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button><div class="rd-navbar-brand"><a class="brand" href="index.html"><div class="brand__name"><img class="brand__logo-dark" src="images/logo_sice-1.png" alt="" width="104" height="20"><img class="brand__logo-light" src="images/logo-inverse-104x20.png" alt="" width="104" height="20" srcset="images/logo-inverse-208x40.png 2x"></div></a></div></div><div class="rd-navbar-body"><div class="rd-navbar-aside"><div class="rd-navbar-content-outer"><div class="rd-navbar-content__toggle rd-navbar-static--hidden" data-rd-navbar-toggle=".rd-navbar-content"><span></span></div><div class="rd-navbar-content"><ul class="list-bordered list-inline"><li><dl class="list-terms-inline"><dt>24/7 Soporte</dt><dd><a href="tel:#">&nbsp;+(593) 3-800-645 </a></dd></dl></li><li><dl class="list-terms-inline"><dt>E-mail</dt><dd><a href="mailto:#">info@gotrade.com.ec</a></dd></dl></li><li><ul class="list-inline list-inline-xs social-list"><li><a class="icon novi-icon icon-gray-dark icon-style-brand fa fa-facebook" href="#"></a></li><li><a class="icon novi-icon icon-gray-dark icon-style-brand fa fa-twitter" href="#"></a></li><li><a class="icon novi-icon icon-gray-dark icon-style-brand fa fa-google-plus" href="#"></a></li><li><a class="icon novi-icon icon-gray-dark icon-style-brand fa fa-pinterest-p" href="#"></a></li></ul></li></ul></div></div></div><div class="rd-navbar-nav-wrap"><div class="rd-navbar-element"><div class="rd-navbar-search rd-navbar-search-toggled"><button class="rd-navbar-search-toggle" data-rd-navbar-toggle=".rd-navbar-search"></button><form class="rd-search" action="search-results.html" data-search-live="rd-search-results-live" method="GET"><div class="form-wrap"><input class="form-input" id="rd-navbar-search-form-input" type="text" name="s" autocomplete="off"><label class="form-label" for="rd-navbar-search-form-input">Search...</label></div><button class="rd-navbar-search-submit" type="submit"></button><div class="rd-search-results-live" id="rd-search-results-live"></div></form></div></div><ul class="rd-navbar-nav"><li><a href="about.html">Inicio</a></li><li><a href="about.html">Nosotros</a></li><li class="rd-navbar--has-dropdown rd-navbar-submenu opened"><a>Servicios</a><ul class="rd-navbar-dropdown"><li><a href="servicio_horario.html" target="" class="">Control de Horarios</a></li><li><a href="servicio_georeferenciacion.html" target="">Georreferenciación</a></li><li><a href="servicio_ruteros.html" target="">Ruteo</a></li><li><a href="servicio_encuestas.html" target="">Sistema de Encuestas</a></li><li><a href="servicio_msl.html" class="" target="">Levantamiento de Faltantes de Stock</a></li><li><a href="servicio_reportes.html" target="">Informes</a></li><li><a href="servicio_reportes.html" class="" target="">Reportes Fotográficos</a></li><li><a href="servicios.html" class="" target="">Seguridad y Confiabilidad</a></li></ul></li><li class="active"><a href="blog.html">Blog</a><ul class="rd-navbar-dropdown"><li><a href="blog-post.html">Blog post</a></li></ul></li><li><a href="contact-us.html">Contactanos</a></li></ul></div></div></div></div></nav></div></header><section class="section breadcrumbs-custom"><div class="breadcrumbs-custom__aside bg-image context-dark novi-bg novi-bg-img" style="background-image: url(images/bg-breadcrumb-3-1920x238.jpg);"><div class="container"><h2 class="breadcrumbs-custom__title">Acerca de Nosotros</h2></div></div><div class="breadcrumbs-custom__main bg-gray-light novi-bg"><div class="container"><ul class="breadcrumbs-custom__path"><li><a href="index.html">Home</a></li><li class="active">Nosotros</li></ul></div></div></section><section class="section section-lg bg-default novi-bg novi-bg-img"><div class="container"><div class="row row-fix row-50 justify-content-md-center justify-content-lg-start"><div class="col-md-10 col-lg-6"><div class="image-custom-1"><img src="images/about-1-601x350.jpg" alt="" width="601" height="350"></div></div><div class="col-md-10 col-lg-6"><div class="box-inset-1"><div class="tabs-custom tabs-horizontal tabs-corporate tabs-corporate_left" id="tabs-about"><ul class="nav nav-tabs list-fix"><li class="nav-item"></li><li class="nav-item"></li><li class="nav-item"></li></ul><div class="tab-content"><div class="tab-pane fade show active" id="tabs-about-1"><h4 class=""><span data-novi-id="0">Aportamos con un nuevo enfoque para tu negocio, implementado innovaciones tecnológicas que mejoren tus&nbsp;ingresos.<br><br>Toda la información levantada es procesada por nuestro sistema tanto                         móvil como web y así obtenemos información relevante para tu negocio.</span></h4><p></p><p></p></div><div class="tab-pane fade" id="tabs-about-2"><h4>Providing Full Business Support</h4><p>Consult offers advice and support to leading companies in various industries across the USA. We staff and manage your projects with our experts.</p><p>We are successful because of our people, the quality of our expert network and our flexibility to anticipate market changes and adapt to your needs. That is why we continuously invest in the education and coaching of our                       consultants and our team of recruiters and account managers.</p></div><div class="tab-pane fade" id="tabs-about-3"><h4>Building Business Relationships</h4><p>We aim to build a strong mutual business relationship with our clients and contribute to their success by responding to their needs.</p><p>Our goal is not to become the largest consultancy agency but to be the agency known for the outstanding and lasting results we achieve with our clients. We work to support you on all stages of your business’s development and                       to help you avoid unpleasant management experiences.</p></div></div></div></div></div></div></div></section><footer class="section footer-creative bg-primary-darken novi-bg novi-bg-img"><div class="container"><div class="footer-creative__column footer-creative__column_decorated bg-primary"><div class="background-item novi-bg"></div><h3>Suporte 24/7:</h3><div class="unit flex-row text-primary-darken-2"><div class="unit__left"><span class="icon novi-icon icon-md icon-default fl-bigmug-line-headphones32"></span></div><div class="unit__body"><a class="link link-lg" href="tel:#">+593-380-00645</a><p class="ls-05">Nuestro soporte esta siempre habilitado para ayudarte</p></div></div></div><div class="footer-creative__column"><ul class="list-tags"><li><a href="#">Tutorials</a></li><li><a href="#">Pricing</a></li><li><a href="#">Support</a></li><li><a href="contact-us.html">Contact Us</a></li><li><a href="blog.html">Blog</a></li><li><a href="#">Operations Consulting</a></li><li><a href="#">Market Analysis</a></li><li><a href="#">Risk Management</a></li><li><a href="#">Employee training</a></li><li><a href="#">Investment banking</a></li><li><a href="#">Business planning</a></li></ul><hr><div class="layout-justify"><p class="rights"><span>©&nbsp; </span><span class="copyright-year"></span><span>&nbsp;</span><span>Consult</span><span>.&nbsp;</span><a href="privacy-policy.html">Privacy Policy</a><span>.</span><span> Design&nbsp;by&nbsp;<a href="https://zemez.io/">Zemez</a></span></p><ul class="list-inline list-inline-xs social-list"><li><a class="icon novi-icon icon-gray-dark icon-style-brand fa fa-facebook" href="#"></a></li><li><a class="icon novi-icon icon-gray-dark icon-style-brand fa fa-twitter" href="#"></a></li><li><a class="icon novi-icon icon-gray-dark icon-style-brand fa fa-google-plus" href="#"></a></li></ul></div></div></div></footer></div><div class="snackbars" id="form-output-global"></div><script src="js/core.min.js"></script><script src="js/script.js"></script></body></html>
