builder/projects/template/blog-post.html
<!DOCTYPE html><html class="wide wow-animation" lang="en"><head>     <!-- Site Title-->     <title>Blog post</title>     <meta name="format-detection" content="telephone=no">     <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">     <meta http-equiv="X-UA-Compatible" content="IE=edge">     <meta charset="utf-8">     <link rel="icon" href="images/favicon.ico" type="image/x-icon">     <!-- Stylesheets-->     <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:400,700%7CSpace+Mono:400">     <link rel="stylesheet" href="css/bootstrap.css">     <link rel="stylesheet" href="css/fonts.css">     <link rel="stylesheet" href="css/style.css"><link rel="stylesheet" href="css/novi.css">     <style type="text/css">#page-loader{position:fixed;left:0;top:0;bottom:0;right:0;float:left;display:flex;align-items:center;justify-content:center;padding:20px 20px 8%;z-index:9999999;opacity:1;background:#fff;transition:.3s all ease}#page-loader .page-loader-body{text-align:center}#page-loader *+.cssload-wrapper{margin-top:30px}#page-loader.loaded{display:none;z-index:-10000}[data-x-mode=true] #page-loader{display:none!important}.cssload-wrapper{width:300px;max-width:95%}.cssload-border{position:relative;width:100%;padding:8px}.cssload-whitespace{position:relative;overflow:hidden;width:100%;height:5px;margin:0 auto}.cssload-line{position:absolute;width:100%;height:inherit;background:linear-gradient(90deg,#04ccfc,#3a7bd5);animation:cssload-slide 3s ease-in-out infinite both}@media (min-width:768px){.cssload-wrapper{width:400px}}@keyframes cssload-slide{0%{left:-100%}100%{left:100%}}</style>   <!--[if lt IE 10]>     <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>     <script src="js/html5shiv.min.js"></script>   <![endif]-->   </head>   <body>     <!-- Page Loader-->     <div id="page-loader">       <div class="page-loader-body"><img src="images/logo-default-104x20.png" alt="" width="104" height="20" srcset="images/logo-default-208x40.png 2x">         <div class="cssload-wrapper">           <div class="cssload-border">             <div class="cssload-whitespace">               <div class="cssload-line"></div>             </div>           </div>         </div>       </div>     </div>     <div class="page">       <header class="section page-header">         <!-- RD Navbar-->         <div class="rd-navbar-wrap">           <nav class="rd-navbar rd-navbar-classic novi-bg" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-sm-device-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-stick-up-clone="false" data-md-stick-up-offset="74px" data-lg-stick-up-offset="66px" data-md-stick-up="true" data-lg-stick-up="true">             <div class="rd-navbar-outer">               <div class="rd-navbar-inner">                 <!-- RD Navbar Panel-->                 <div class="rd-navbar-panel">                   <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>                   <!-- RD Navbar Brand-->                   <div class="rd-navbar-brand"><a class="brand" href="index.html">                       <div class="brand__name"><img class="brand__logo-dark" src="images/logo-default-104x20.png" alt="" width="104" height="20" srcset="images/logo-default-208x40.png 2x"><img class="brand__logo-light" src="images/logo-inverse-104x20.png" alt="" width="104" height="20" srcset="images/logo-inverse-208x40.png 2x">                       </div></a></div>                 </div>                  <div class="rd-navbar-body">                   <!-- RD Navbar Aside-->                   <div class="rd-navbar-aside">                     <div class="rd-navbar-content-outer">                       <div class="rd-navbar-content__toggle rd-navbar-static--hidden" data-rd-navbar-toggle=".rd-navbar-content"><span></span></div>                       <div class="rd-navbar-content">                         <ul class="list-bordered list-inline">                           <li>                             <dl class="list-terms-inline">                               <dt>24/7 Support</dt>                               <dd><a href="tel:#">1-800-700-6200</a></dd>                             </dl>                           </li>                           <li>                             <dl class="list-terms-inline">                               <dt>E-mail</dt>                               <dd><a href="mailto:#">mail@demolink.org</a></dd>                             </dl>                           </li>                           <li>                             <ul class="list-inline list-inline-xs social-list">                               <li><a class="icon novi-icon icon-gray-dark icon-style-brand fa fa-facebook" href="#"></a></li>                               <li><a class="icon novi-icon icon-gray-dark icon-style-brand fa fa-twitter" href="#"></a></li>                               <li><a class="icon novi-icon icon-gray-dark icon-style-brand fa fa-google-plus" href="#"></a></li>                               <li><a class="icon novi-icon icon-gray-dark icon-style-brand fa fa-pinterest-p" href="#"></a></li>                             </ul>                           </li>                         </ul>                       </div>                     </div>                   </div>                   <!-- RD Navbar Nav Wrap-->                   <div class="rd-navbar-nav-wrap">                     <div class="rd-navbar-element">                       <!-- RD Navbar Search-->                       <div class="rd-navbar-search rd-navbar-search-toggled">                         <button class="rd-navbar-search-toggle" data-rd-navbar-toggle=".rd-navbar-search"></button>                         <form class="rd-search" action="search-results.html" data-search-live="rd-search-results-live" method="GET">                           <div class="form-wrap">                             <input class="form-input" id="rd-navbar-search-form-input" type="text" name="s" autocomplete="off">                             <label class="form-label" for="rd-navbar-search-form-input">Search...</label>                           </div>                           <button class="rd-navbar-search-submit" type="submit"></button>                           <div class="rd-search-results-live" id="rd-search-results-live"></div>                         </form>                       </div>                     </div>                     <!-- RD Navbar Nav-->                     <ul class="rd-navbar-nav">                       <li><a href="about.html">About</a>                       </li>                       <li><a href="servicio_horario.html">Services</a>                       </li>                       <li class="active"><a href="blog.html">Blog</a>                         <!-- RD Navbar Dropdown-->                         <ul class="rd-navbar-dropdown">                           <li><a href="blog-post.html">Blog post</a></li>                         </ul>                       </li>                       <li><a href="faq.html">FAQ</a>                       </li>                       <li><a href="#">Pages</a>                         <!-- RD Navbar Dropdown-->                         <ul class="rd-navbar-dropdown">                           <li><a href="maintenance.html">Maintenance</a></li>                           <li><a href="privacy-policy.html">Privacy policy</a></li>                           <li><a href="404-page.html">404 Page</a></li>                           <li><a href="coming-soon.html">Coming Soon</a></li>                         </ul>                       </li>                       <li><a href="contact-us.html">Contact Us</a>                       </li>                     </ul>                   </div>                 </div>               </div>             </div>           </nav>         </div>       </header>        <!-- Breadcrumbs-->       <section class="section breadcrumbs-custom">         <div class="breadcrumbs-custom__aside bg-image context-dark novi-bg novi-bg-img" style="background-image: url(images/bg-breadcrumb-4-1920x304.jpg);">           <div class="container">             <h2>Market Research Tips for Small Business Owners</h2>           </div>         </div>         <div class="breadcrumbs-custom__main bg-gray-light novi-bg">           <div class="container">             <ul class="breadcrumbs-custom__path">               <li><a href="index.html">Home</a></li>               <li><a href="blog.html">Blog</a></li>               <li class="active">Blog post</li>             </ul>           </div>         </div>       </section>        <!-- Blog post-->       <section class="section novi-bg novi-bg-img section-lg bg-white">         <div class="container">           <article class="blog-layout">             <div class="blog-layout__main">               <article class="post-single novi-bg">                 <div class="post-single__header">                   <ul class="post-single__meta">                     <li><span class="novi-icon icon mdi mdi-comment-outline"></span><a href="#">3</a></li>                     <li><span class="novi-icon icon mdi mdi-thumb-up-outline"></span><a href="#">12</a></li>                   </ul>                   <ul class="post-single__meta">                     <li><span class="novi-icon icon mdi icon mdi mdi-account"></span><span>by</span><a href="#">John Doe</a></li>                   </ul>                 </div>                 <div class="post-single__time-wrap">                   <time class="post-single__time" datetime="2018"><span class="post-single__time-day">25</span><span class="post-single__time-month">June</span></time>                 </div>                 <h4 class="post-single__title">How Small Business Owners Can Succeed in Market Research This Year</h4>                 <p>You already know that market research is important to the development of your business regardless of the size. Yet, it can also be overwhelming to figure out what you need to know, and how to conduct your research. So we’ve put together these tips to help simplify market research and get you started on the journey to soaring sales.</p><img src="images/blog-post-1-715x417.jpg" alt="" width="715" height="417">                 <p>Before setting off on your market research quest, think about what you’re trying to achieve next with your business. Figuring out your objective will help you tailor the rest of your research and your future marketing materials. Having an objective for your research will flesh out what kind of data you need to collect. Next important thing to remember is that your business serves a specific kind of customer. Defining your specific customer has many advantages like allowing you to understand what kind of language to use when crafting your marketing materials, and how to approach building relationships.</p>                 <article class="quote-classic quote-classic_secondary">                   <div class="quote-classic__body">                     <svg class="quote-classic__mark" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="21px" height="15px" viewBox="0 0 21 15" overflow="scroll" xml:space="preserve" preserveAspectRatio="none">                       <linearGradient id="linear-gradient">                         <stop offset="0%" stop-color="#12cffc"></stop>                         <stop offset="100%" stop-color="#387ed7"></stop>                       </linearGradient>                       <path fill="url(#linear-gradient)" d="M9.597,10.412c0,1.306-0.473,2.399-1.418,3.277c-0.944,0.876-2.06,1.316-3.349,1.316                           c-1.287,0-2.414-0.44-3.382-1.316C0.482,12.811,0,11.758,0,10.535c0-1.226,0.58-2.716,1.739-4.473L5.603,0H9.34L6.956,6.37                           C8.716,7.145,9.597,8.493,9.597,10.412z M20.987,10.412c0,1.306-0.473,2.399-1.418,3.277c-0.944,0.876-2.06,1.316-3.35,1.316                           c-1.288,0-2.415-0.44-3.381-1.316c-0.966-0.879-1.45-1.931-1.45-3.154c0-1.226,0.582-2.716,1.74-4.473L16.994,0h3.734l-2.382,6.37                           C20.106,7.145,20.987,8.493,20.987,10.412z"></path>                     </svg>                     <div class="quote-classic__text">                       <p>Knowing who you don’t cater to can be essential to helping you grow. When you’re small, you’re advantage is that you can connect deeply with specific customers.</p>                     </div>                   </div>                 </article>                 <p>As you experience the business from the customer perspective, look for what’s being done right and wrong. Also, take a close look at their market segment. Moreover, a good customer survey is one of the most valuable market research tools because it gives you the opportunity to get inside of your customer’s head. However, remember that some feedback may be harsh, so take criticism as a learning tool to point you in the right direction. We hope these tips will help you improve your market research and achieve better results in running your business as well as in catering to the needs of your customers.</p>                 <div class="post-single__footer">                   <div class="post-single__footer-inner">                     <h5>Share this post</h5>                     <ul class="list-inline list-inline-xs">                       <li><a class="icon novi-icon icon-xs icon-gray-dark fa fa-facebook" href="#"></a></li>                       <li><a class="icon novi-icon icon-xs icon-gray-dark fa fa-twitter" href="#"></a></li>                       <li><a class="icon novi-icon icon-xs icon-gray-dark fa fa-google-plus" href="#"></a></li>                       <li><a class="icon novi-icon icon-xs icon-gray-dark fa fa-pinterest-p" href="#"></a></li>                     </ul>                   </div>                 </div>               </article>                <div class="section-md section-collapse">                 <p class="custom-heading-line heading-8">Recent posts</p>                 <div class="row row-50">                   <div class="col-md-6">                     <!-- Post Minimal-->                     <article class="post-minimal"><a class="post-minimal__media" href="blog-post.html"><img class="post-minimal__image" src="images/single-post-2-368x293.jpg" alt="" width="368" height="293"></a>                       <h4 class="post-minimal__title"><a href="blog-post.html">Implementing Digital Transformation</a></h4>                       <ul class="post-minimal__meta">                         <li><span class="novi-icon icon mdi mdi-comment-outline"></span><a href="blog-post.html">3</a></li>                         <li><span class="novi-icon icon mdi mdi-thumb-up-outline"></span><a href="#">12</a></li>                         <li><span class="novi-icon icon mdi mdi-account"></span><span>by</span><a href="#">John Doe</a></li>                       </ul>                     </article>                   </div>                   <div class="col-md-6">                     <!-- Post Minimal-->                     <article class="post-minimal"><a class="post-minimal__media" href="blog-post.html"><img class="post-minimal__image" src="images/single-post-3-368x293.jpg" alt="" width="368" height="293"></a>                       <h4 class="post-minimal__title"><a href="blog-post.html">Achieving Effective Brand Management</a></h4>                       <ul class="post-minimal__meta">                         <li><span class="novi-icon icon mdi mdi-comment-outline"></span><a href="blog-post.html">3</a></li>                         <li><span class="novi-icon icon mdi mdi-thumb-up-outline"></span><a href="#">12</a></li>                         <li><span class="novi-icon icon mdi mdi-account"></span><span>by</span><a href="#">John Doe</a></li>                       </ul>                     </article>                   </div>                 </div>               </div>             </div>             <div class="blog-layout__aside">               <div class="blog-layout__aside-item">                 <!-- RD Search-->                 <form class="rd-search rd-search_inline form_lg form_outline" action="search-results.html" method="GET">                   <div class="form-wrap">                     <label class="form-label" for="rd-search-blog-form-input">Search the blog...</label>                     <input class="form-input" id="rd-search-blog-form-input" type="text" name="s" autocomplete="off">                   </div>                   <button class="button-link fl-budicons-launch-search81" type="submit"></button>                 </form>               </div>               <div class="blog-layout__aside-item novi-bg blog-layout__aside-item_bordered">                 <p class="custom-heading-line heading-8">Categories</p>                 <ul class="list-categories">                   <li class="active"><a href="#">All categories</a><span class="count">64</span></li>                   <li><a href="#">Consulting</a><span class="count">23</span></li>                   <li><a href="#">Analytics</a><span class="count">10</span></li>                   <li><a href="#">Management</a><span class="count">10</span></li>                 </ul>               </div>               <div class="blog-layout__aside-item novi-bg blog-layout__aside-item_bordered">                 <p class="custom-heading-line heading-8">Latest Posts</p>                 <ul class="list-posts">                   <li>                     <!-- Post Line-->                     <article class="post-line">                       <time class="post-line__time" datetime="2018"><span class="post-line__time-day">24</span><span class="post-line__time-month">may</span></time>                       <div class="post-line__title"><a href="blog-post.html">Market Research Tips for Small Business Owners</a></div>                     </article>                   </li>                   <li>                     <!-- Post Line-->                     <article class="post-line">                       <time class="post-line__time" datetime="2018"><span class="post-line__time-day">12</span><span class="post-line__time-month">may</span></time>                       <div class="post-line__title"><a href="blog-post.html">Implementing Digital Transformation</a></div>                     </article>                   </li>                   <li>                     <!-- Post Line-->                     <article class="post-line">                       <time class="post-line__time" datetime="2018"><span class="post-line__time-day">03</span><span class="post-line__time-month">may</span></time>                       <div class="post-line__title"><a href="blog-post.html">Achieving Effective Brand Management</a></div>                     </article>                   </li>                 </ul>               </div>               <div class="blog-layout__aside-item novi-bg blog-layout__aside-item_bordered">                 <p class="custom-heading-line heading-8">Archive</p>                 <!-- Select 2-->                 <select class="form-input select" data-placeholder="All" data-minimum-results-for-search="Infinity" data-constraints="@Required">                   <option>August 2018</option>                   <option value="1">July 2018</option>                   <option value="2">June 2018</option>                   <option value="3">May 2018</option>                   <option value="4">April 2018</option>                   <option value="5">March 2018</option>                 </select>               </div>               <div class="blog-layout__aside-item"><a class="link-banner" href="#"><img src="images/banner-305x362.jpg" alt="" width="305" height="362"></a></div>             </div>           </article>         </div>       </section>        <!-- Page Footer-->       <footer class="section footer-creative bg-primary-darken novi-bg novi-bg-img">         <div class="container">           <div class="footer-creative__column footer-creative__column_decorated bg-primary">             <div class="background-item novi-bg"></div>             <h3>24/7 Support:</h3>             <div class="unit flex-row text-primary-darken-2">               <div class="unit__left"><span class="icon novi-icon icon-md icon-default fl-bigmug-line-headphones32"></span></div>               <div class="unit__body"><a class="link link-lg" href="tel:#">1-800-700-6200</a>                 <p class="ls-05">Our Support Service is always available to help you.</p>               </div>             </div>           </div>           <div class="footer-creative__column">             <ul class="list-tags">               <li><a href="#">Tutorials</a></li>               <li><a href="#">Pricing</a></li>               <li><a href="#">Support</a></li>               <li><a href="contact-us.html">Contact Us</a></li>               <li><a href="blog.html">Blog</a></li>               <li><a href="#">Operations Consulting</a></li>               <li><a href="#">Market Analysis</a></li>               <li><a href="#">Risk Management</a></li>               <li><a href="#">Employee training</a></li>               <li><a href="#">Investment banking</a></li>               <li><a href="#">Business planning</a></li>             </ul>             <hr>             <div class="layout-justify">               <!-- Rights-->               <p class="rights"><span>©&nbsp; </span><span class="copyright-year"></span><span>&nbsp;</span><span>Consult</span><span>.&nbsp;</span><a href="privacy-policy.html">Privacy Policy</a><span>.</span>                 <!--{DEL LIVEDEMO USERPACKAGE}--><span> Design&nbsp;by&nbsp;<a href="https://zemez.io/">Zemez</a></span>                 <!--{DEL}-->               </p>               <ul class="list-inline list-inline-xs social-list">                 <li><a class="icon novi-icon icon-gray-dark icon-style-brand fa fa-facebook" href="#"></a></li>                 <li><a class="icon novi-icon icon-gray-dark icon-style-brand fa fa-twitter" href="#"></a></li>                 <li><a class="icon novi-icon icon-gray-dark icon-style-brand fa fa-google-plus" href="#"></a></li>                 <li><a class="icon novi-icon icon-gray-dark icon-style-brand fa fa-pinterest-p" href="#"></a></li>               </ul>             </div>           </div>         </div>       </footer>      </div>     <!-- Global Mailform Output-->     <div class="snackbars" id="form-output-global"></div>     <!-- Javascript-->     <script src="js/core.min.js"></script>     <script src="js/script.js"></script>    </body></html>

sources/pug/pages/blog-post.pug
extends  ../_skeleton

//- Includes
include ../elements/_ui-comment

block variables
	- var activeCategory = 'blog'
	- var pageName = 'Blog post'

block page
	include ../sections/_header-classic

	+breadcrumbs({
		category: activeCategory,
		path: [pageName],
		bgImage: 'bg-breadcrumb-4-1920x304',
		customContent: true
	})
		h2 Market Research Tips for Small Business Owners

	// Blog post
	section.section.novi-bg.novi-bg-img.section-lg.bg-white
		.container
			article.blog-layout
				.blog-layout__main
					article.post-single.novi-bg
						.post-single__header
							ul.post-single__meta
								li
									span.novi-icon.icon.mdi.mdi-comment-outline
									a(href='#') 3
								li
									span.novi-icon.icon.mdi.mdi-thumb-up-outline
									a(href='#') 12

							ul.post-single__meta
								li
									span.novi-icon.icon.mdi.icon.mdi.mdi-account
									span by
									a(href='#') John Doe

						.post-single__time-wrap
							time.post-single__time(datetime='2018')
								span.post-single__time-day 25
								span.post-single__time-month June

						h4.post-single__title How Small Business Owners Can Succeed in Market Research This Year
						p You already know that market research is important to the development of your business regardless of the size. Yet, it can also be overwhelming to figure out what you need to know, and how to conduct your research. So we’ve put together these tips to help simplify market research and get you started on the journey to soaring sales.
						+jpg('blog-post-1-715x417')
						p Before setting off on your market research quest, think about what you’re trying to achieve next with your business. Figuring out your objective will help you tailor the rest of your research and your future marketing materials. Having an objective for your research will flesh out what kind of data you need to collect. Next important thing to remember is that your business serves a specific kind of customer. Defining your specific customer has many advantages like allowing you to understand what kind of language to use when crafting your marketing materials, and how to approach building relationships.
						article.quote-classic.quote-classic_secondary
							.quote-classic__body
								svg.quote-classic__mark(version='1.1' xmlns='http://www.w3.org/2000/svg', x='0px', y='0px', width='21px', height='15px', viewbox='0 0 21 15', overflow='scroll', xml:space='preserve', preserveAspectRatio='none')
									+svg-gradient
									path(fill='url(#linear-gradient)' d='M9.597,10.412c0,1.306-0.473,2.399-1.418,3.277c-0.944,0.876-2.06,1.316-3.349,1.316\
																											c-1.287,0-2.414-0.44-3.382-1.316C0.482,12.811,0,11.758,0,10.535c0-1.226,0.58-2.716,1.739-4.473L5.603,0H9.34L6.956,6.37\
																											C8.716,7.145,9.597,8.493,9.597,10.412z M20.987,10.412c0,1.306-0.473,2.399-1.418,3.277c-0.944,0.876-2.06,1.316-3.35,1.316\
																											c-1.288,0-2.415-0.44-3.381-1.316c-0.966-0.879-1.45-1.931-1.45-3.154c0-1.226,0.582-2.716,1.74-4.473L16.994,0h3.734l-2.382,6.37\
																											C20.106,7.145,20.987,8.493,20.987,10.412z')
								.quote-classic__text: p Knowing who you don’t cater to can be essential to helping you grow. When you’re small, you’re advantage is that you can connect deeply with specific customers.
						p As you experience the business from the customer perspective, look for what’s being done right and wrong. Also, take a close look at their market segment. Moreover, a good customer survey is one of the most valuable market research tools because it gives you the opportunity to get inside of your customer’s head. However, remember that some feedback may be harsh, so take criticism as a learning tool to point you in the right direction. We hope these tips will help you improve your market research and achieve better results in running your business as well as in catering to the needs of your customers.

						.post-single__footer
							.post-single__footer-inner
								h5 Share this post
								ul.list-inline.list-inline-xs
									li: a.icon.novi-icon.icon-xs.icon-gray-dark.fa.fa-facebook(href='#')
									li: a.icon.novi-icon.icon-xs.icon-gray-dark.fa.fa-twitter(href='#')
									li: a.icon.novi-icon.icon-xs.icon-gray-dark.fa.fa-google-plus(href='#')
									li: a.icon.novi-icon.icon-xs.icon-gray-dark.fa.fa-pinterest-p(href='#')
					="\n"

					.section-md.section-collapse
						p.custom-heading-line.heading-8 Recent posts
						.row.row-50
							.col-md-6
								// Post Minimal
								article.post-minimal
									a.post-minimal__media(href=postLink)
										+jpg('single-post-2-368x293', 'post-minimal__image')
									h4.post-minimal__title: a(href=postLink) Implementing Digital Transformation

									ul.post-minimal__meta
										li
											span.novi-icon.icon.mdi.mdi-comment-outline
											a(href=postLink) 3
										li
											span.novi-icon.icon.mdi.mdi-thumb-up-outline
											a(href='#') 12
										li
											span.novi-icon.icon.mdi.mdi-account
											span by
											a(href='#') John Doe

							.col-md-6
								// Post Minimal
								article.post-minimal
									a.post-minimal__media(href=postLink)
										+jpg('single-post-3-368x293', 'post-minimal__image')
									h4.post-minimal__title: a(href=postLink) Achieving Effective Brand Management

									ul.post-minimal__meta
										li
											span.novi-icon.icon.mdi.mdi-comment-outline
											a(href=postLink) 3
										li
											span.novi-icon.icon.mdi.mdi-thumb-up-outline
											a(href='#') 12
										li
											span.novi-icon.icon.mdi.mdi-account
											span by
											a(href='#') John Doe

				include ../includes/_blog-aside
	="\n"

	// Page Footer
	include ../sections/_footer-creative
