site/contact-us.html
<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <!-- Site Title-->
    <title>Contact Us</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:400,700%7CSpace+Mono:400">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">
    <style type="text/css">#page-loader{position:fixed;left:0;top:0;bottom:0;right:0;float:left;display:flex;align-items:center;justify-content:center;padding:20px 20px 8%;z-index:9999999;opacity:1;background:#fff;transition:.3s all ease}#page-loader .page-loader-body{text-align:center}#page-loader *+.cssload-wrapper{margin-top:30px}#page-loader.loaded{display:none;z-index:-10000}[data-x-mode=true] #page-loader{display:none!important}.cssload-wrapper{width:300px;max-width:95%}.cssload-border{position:relative;width:100%;padding:8px}.cssload-whitespace{position:relative;overflow:hidden;width:100%;height:5px;margin:0 auto}.cssload-line{position:absolute;width:100%;height:inherit;background:linear-gradient(90deg,#04ccfc,#3a7bd5);animation:cssload-slide 3s ease-in-out infinite both}@media (min-width:768px){.cssload-wrapper{width:400px}}@keyframes cssload-slide{0%{left:-100%}100%{left:100%}}</style>
		<!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
		<![endif]-->
  </head>
  <body>
    <!-- Page Loader-->
    <div id="page-loader">
      <div class="page-loader-body"><img src="images/logo-default-104x20.png" alt="" width="104" height="20" srcset="images/logo-default-208x40.png 2x"/>
        <div class="cssload-wrapper">
          <div class="cssload-border">
            <div class="cssload-whitespace">
              <div class="cssload-line"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="page">
      <header class="section page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-classic novi-bg" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-sm-device-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-stick-up-clone="false" data-md-stick-up-offset="74px" data-lg-stick-up-offset="66px" data-md-stick-up="true" data-lg-stick-up="true">
            <div class="rd-navbar-outer">
              <div class="rd-navbar-inner">
                <!-- RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!-- RD Navbar Brand-->
                  <div class="rd-navbar-brand"><a class="brand" href="index.html">
                      <div class="brand__name"><img class="brand__logo-dark" src="images/logo-default-104x20.png" alt="" width="104" height="20" srcset="images/logo-default-208x40.png 2x"/><img class="brand__logo-light" src="images/logo-inverse-104x20.png" alt="" width="104" height="20" srcset="images/logo-inverse-208x40.png 2x"/>
                      </div></a></div>
                </div>

                <div class="rd-navbar-body">
                  <!-- RD Navbar Aside-->
                  <div class="rd-navbar-aside">
                    <div class="rd-navbar-content-outer">
                      <div class="rd-navbar-content__toggle rd-navbar-static--hidden" data-rd-navbar-toggle=".rd-navbar-content"><span></span></div>
                      <div class="rd-navbar-content">
                        <ul class="list-bordered list-inline">
                          <li>
                            <dl class="list-terms-inline">
                              <dt>24/7 Support</dt>
                              <dd><a href="tel:#">1-800-700-6200</a></dd>
                            </dl>
                          </li>
                          <li>
                            <dl class="list-terms-inline">
                              <dt>E-mail</dt>
                              <dd><a href="mailto:#">mail@demolink.org</a></dd>
                            </dl>
                          </li>
                          <li>
                            <ul class="list-inline list-inline-xs social-list">
                              <li><a class="icon novi-icon icon-gray-dark icon-style-brand fa fa-facebook" href="#"></a></li>
                              <li><a class="icon novi-icon icon-gray-dark icon-style-brand fa fa-twitter" href="#"></a></li>
                              <li><a class="icon novi-icon icon-gray-dark icon-style-brand fa fa-google-plus" href="#"></a></li>
                              <li><a class="icon novi-icon icon-gray-dark icon-style-brand fa fa-pinterest-p" href="#"></a></li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <!-- RD Navbar Nav Wrap-->
                  <div class="rd-navbar-nav-wrap">
                    <div class="rd-navbar-element">
                      <!-- RD Navbar Search-->
                      <div class="rd-navbar-search rd-navbar-search-toggled">
                        <button class="rd-navbar-search-toggle" data-rd-navbar-toggle=".rd-navbar-search"></button>
                        <form class="rd-search" action="search-results.html" data-search-live="rd-search-results-live" method="GET">
                          <div class="form-wrap">
                            <input class="form-input" id="rd-navbar-search-form-input" type="text" name="s" autocomplete="off">
                            <label class="form-label" for="rd-navbar-search-form-input">Search...</label>
                          </div>
                          <button class="rd-navbar-search-submit" type="submit"></button>
                          <div class="rd-search-results-live" id="rd-search-results-live"></div>
                        </form>
                      </div>
                    </div>
                    <!-- RD Navbar Nav-->
                    <ul class="rd-navbar-nav">
                      <li><a href="about.html">About</a>
                      </li>
                      <li><a href="services.html">Services</a>
                      </li>
                      <li><a href="blog.html">Blog</a>
                        <!-- RD Navbar Dropdown-->
                        <ul class="rd-navbar-dropdown">
                          <li><a href="blog-post.html">Blog post</a></li>
                        </ul>
                      </li>
                      <li><a href="faq.html">FAQ</a>
                      </li>
                      <li><a href="pages.html">Pages</a>
                        <!-- RD Navbar Dropdown-->
                        <ul class="rd-navbar-dropdown">
                          <li><a href="maintenance.html">Maintenance</a></li>
                          <li><a href="privacy-policy.html">Privacy policy</a></li>
                          <li><a href="404-page.html">404 Page</a></li>
                          <li><a href="coming-soon.html">Coming Soon</a></li>
                        </ul>
                      </li>
                      <li class="active"><a href="contact-us.html">Contact Us</a>
                      </li>
                      <li><a href="#">Elements</a>
                        <!-- RD Navbar Megamenu-->
                        <ul class="rd-navbar-megamenu">
                          <li>
                            <h5 class="rd-megamenu-header">Elements 1</h5>
                            <ul class="rd-megamenu-list">
                              <li><a href="breadcrumbs.html">Breadcrumbs</a></li>
                              <li><a href="maps.html">Maps</a></li>
                              <li><a href="sliders.html">Sliders</a></li>
                              <li><a href="gallery.html">Gallery</a></li>
                              <li><a href="gallery-album.html">Gallery Album</a></li>
                            </ul>
                          </li>
                          <li>
                            <h5 class="rd-megamenu-header">Elements 2</h5>
                            <ul class="rd-megamenu-list">
                              <li><a href="headers.html">Headers</a></li>
                              <li><a href="footers.html">Footers</a></li>
                              <li><a href="pricing.html">Pricing</a></li>
                              <li><a href="testimonials.html">Testimonials</a></li>
                              <li><a href="partners.html">Partners</a></li>
                            </ul>
                          </li>
                          <li>
                            <h5 class="rd-megamenu-header">Elements 3</h5>
                            <ul class="rd-megamenu-list">
                              <li><a href="forms.html">Forms</a></li>
                              <li><a href="team.html">Team</a></li>
                              <li><a href="counters.html">Counters</a></li>
                              <li><a href="advantages.html">Advantages</a></li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>

      <!-- Breadcrumbs-->
      <section class="section breadcrumbs-custom">
        <div class="breadcrumbs-custom__aside bg-image context-dark novi-bg novi-bg-img" style="background-image: url(images/bg-breadcrumb-7-1920x238.jpg);">
          <div class="container">
            <h2 class="breadcrumbs-custom__title">Contact Us</h2>
          </div>
        </div>
        <div class="breadcrumbs-custom__main bg-gray-light novi-bg">
          <div class="container">
            <ul class="breadcrumbs-custom__path">
              <li><a href="index.html">Home</a></li>
              <li class="active">Contact Us</li>
            </ul>
          </div>
        </div>
      </section>

      <!-- Contact Form-->
      <section class="section section-md bg-default novi-bg novi-bg-img">
        <div class="container container_bigger">
          <div class="row justify-content-md-center justify-content-xl-between row-2-columns-bordered row-50">
            <div class="col-md-10 col-lg-5">
              <h3>Get in Touch</h3>
              <ul class="list-creative">
                <li>
                  <dl class="list-terms-medium list-terms-medium_secondary">
                    <dt>Address</dt>
                    <dd><a href="#">212 Prospect Ave, Brooklyn, New York United States</a></dd>
                  </dl>
                </li>
                <li>
                  <dl class="list-terms-medium">
                    <dt>Phones</dt>
                    <dd>
                      <ul class="list-comma">
                        <li><a href="tel:#">+1-800-700-6200</a></li>
                        <li><a href="tel:#">+1-800-955-4567</a></li>
                      </ul>
                    </dd>
                  </dl>
                </li>
                <li>
                  <dl class="list-terms-medium list-terms-medium_tertiary">
                    <dt>E-mails</dt>
                    <dd>
                      <ul class="list-comma">
                        <li><a href="mailto:#">mail@demolink.org</a></li>
                        <li><a href="mailto:#">info@demolink.org</a></li>
                      </ul>
                    </dd>
                  </dl>
                </li>
              </ul>
            </div>
            <div class="col-md-10 col-lg-7 col-xl-6">
              <h3 class="text-center">Contact Form</h3>
              <!-- RD Mailform-->
              <form class="rd-mailform" data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php">
                <div class="row row-fix align-items-md-end row-20">
                  <div class="col-md-6">
                    <div class="form-wrap">
                      <input class="form-input" id="contact-name" type="text" name="name" data-constraints="@Required">
                      <label class="form-label" for="contact-name">Your Name</label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-wrap">
                      <input class="form-input" id="contact-phone" type="text" name="phone" data-constraints="@PhoneNumber">
                      <label class="form-label" for="contact-phone">Phone</label>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-wrap">
                      <label class="form-label" for="contact-message">Your Message</label>
                      <textarea class="form-input" id="contact-message" name="message" data-constraints="@Required"></textarea>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-wrap">
                      <input class="form-input" id="contact-email" type="email" name="email" data-constraints="@Email @Required">
                      <label class="form-label" for="contact-email">E-mail</label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <button class="button button-block button-gradient button-ujarak" type="submit">Send Message</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>

      <!-- RD Google Map-->
      <section class="section">
        <div class="google-map-container" data-center="9870 St Vincent Place, Glasgow, DC 45 Fr 45." data-zoom="14" data-icon="images/gmap_marker.png" data-icon-active="images/gmap_marker_active.png">
          <div class="google-map"></div>
          <ul class="google-map-markers">
            <li data-location="9870 St Vincent Place, Glasgow, DC 45 Fr 45." data-description="9870 St Vincent Place, Glasgow"></li>
          </ul>
        </div>
      </section>

      <!-- Page Footer-->
      <footer class="section footer-creative bg-primary-darken novi-bg novi-bg-img">
        <div class="container">
          <div class="footer-creative__column footer-creative__column_decorated bg-primary">
            <div class="background-item novi-bg"></div>
            <h3>24/7 Support:</h3>
            <div class="unit flex-row text-primary-darken-2">
              <div class="unit__left"><span class="icon novi-icon icon-md icon-default fl-bigmug-line-headphones32"></span></div>
              <div class="unit__body"><a class="link link-lg" href="tel:#">1-800-700-6200</a>
                <p class="ls-05">Our Support Service is always available to help you.</p>
              </div>
            </div>
          </div>
          <div class="footer-creative__column">
            <ul class="list-tags">
              <li><a href="#">Tutorials</a></li>
              <li><a href="pricing.html">Pricing</a></li>
              <li><a href="#">Support</a></li>
              <li><a href="contact-us.html">Contact Us</a></li>
              <li><a href="blog.html">Blog</a></li>
              <li><a href="#">Operations Consulting</a></li>
              <li><a href="#">Market Analysis</a></li>
              <li><a href="#">Risk Management</a></li>
              <li><a href="#">Employee training</a></li>
              <li><a href="#">Investment banking</a></li>
              <li><a href="#">Business planning</a></li>
            </ul>
            <hr>
            <div class="layout-justify">
              <!-- Rights-->
              <p class="rights"><span>&copy;&nbsp; </span><span class="copyright-year"></span><span>&nbsp;</span><span>Consult</span><span>.&nbsp;</span><a href="privacy-policy.html">Privacy Policy</a><span>.</span><span> Design&nbsp;by&nbsp;<a href="https://zemez.io/">Zemez</a></span></p>
              <ul class="list-inline list-inline-xs social-list">
                <li><a class="icon novi-icon icon-gray-dark icon-style-brand fa fa-facebook" href="#"></a></li>
                <li><a class="icon novi-icon icon-gray-dark icon-style-brand fa fa-twitter" href="#"></a></li>
                <li><a class="icon novi-icon icon-gray-dark icon-style-brand fa fa-google-plus" href="#"></a></li>
                <li><a class="icon novi-icon icon-gray-dark icon-style-brand fa fa-pinterest-p" href="#"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>

    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>

sources/pug/pages/contact-us.pug
extends  ../_skeleton

//- Includes


block variables
	- var activeCategory = 'contact-us'
	- var pageName = 'Contact Us'

block page
	include ../sections/_header-classic

	+breadcrumbs({
		category: activeCategory,
		path: [pageName],
		bgImage: 'bg-breadcrumb-7-1920x238'
	})

	// Contact Form
	section.section.section-md.bg-default.novi-bg.novi-bg-img
		.container.container_bigger
			.row.justify-content-md-center.justify-content-xl-between.row-2-columns-bordered.row-50
				.col-md-10.col-lg-5
					h3 Get in Touch
					ul.list-creative
						li
							dl.list-terms-medium.list-terms-medium_secondary
								dt Address
								dd: a(href='#') 212 Prospect Ave, Brooklyn, New York United States
						li
							dl.list-terms-medium
								dt Phones
								dd
									ul.list-comma
										li: a(href='tel:#') +1-800-700-6200
										li: a(href='tel:#') +1-800-955-4567
						li
							dl.list-terms-medium.list-terms-medium_tertiary
								dt E-mails
								dd
									ul.list-comma
										li: a(href='mailto:#') mail@demolink.org
										li: a(href='mailto:#') info@demolink.org

				.col-md-10.col-lg-7.col-xl-6
					h3.text-center Contact Form
					// RD Mailform
					form.rd-mailform(data-form-output="form-output-global", data-form-type='contact', method='post', action='bat/rd-mailform.php')
						.row.row-fix.align-items-md-end.row-20
							.col-md-6
								.form-wrap
									input#contact-name.form-input(type="text" name="name" data-constraints='@Required')
									label.form-label(for="contact-name") Your Name

							.col-md-6
								.form-wrap
									input#contact-phone.form-input(type="text" name="phone" data-constraints='@PhoneNumber')
									label.form-label(for="contact-phone") Phone

							.col-sm-12
								.form-wrap
									label.form-label(for="contact-message") Your Message
									textarea#contact-message.form-input(name="message" data-constraints="@Required")

							.col-md-6
								.form-wrap
									input#contact-email.form-input(type="email" name="email" data-constraints="@Email @Required")
									label.form-label(for="contact-email") E-mail

							.col-md-6
								button(type="submit").button.button-block.button-gradient.button-ujarak Send Message
	="\n"

	// RD Google Map
	section.section
		.google-map-container(data-center='9870 St Vincent Place, Glasgow, DC 45 Fr 45.', data-zoom="14", data-icon='images/gmap_marker.png', data-icon-active='images/gmap_marker_active.png')
			.google-map
			ul.google-map-markers
				li(data-location='9870 St Vincent Place, Glasgow, DC 45 Fr 45.', data-description='9870 St Vincent Place, Glasgow')
	="\n"

	// Page Footer
	include ../sections/_footer-creative
