site/forms.html
<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <!-- Site Title-->
    <title>Forms</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:400,700%7CSpace+Mono:400">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">
    <style type="text/css">#page-loader{position:fixed;left:0;top:0;bottom:0;right:0;float:left;display:flex;align-items:center;justify-content:center;padding:20px 20px 8%;z-index:9999999;opacity:1;background:#fff;transition:.3s all ease}#page-loader .page-loader-body{text-align:center}#page-loader *+.cssload-wrapper{margin-top:30px}#page-loader.loaded{display:none;z-index:-10000}[data-x-mode=true] #page-loader{display:none!important}.cssload-wrapper{width:300px;max-width:95%}.cssload-border{position:relative;width:100%;padding:8px}.cssload-whitespace{position:relative;overflow:hidden;width:100%;height:5px;margin:0 auto}.cssload-line{position:absolute;width:100%;height:inherit;background:linear-gradient(90deg,#04ccfc,#3a7bd5);animation:cssload-slide 3s ease-in-out infinite both}@media (min-width:768px){.cssload-wrapper{width:400px}}@keyframes cssload-slide{0%{left:-100%}100%{left:100%}}</style>
		<!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
		<![endif]-->
  </head>
  <body>
    <!-- Page Loader-->
    <div id="page-loader">
      <div class="page-loader-body"><img src="images/logo-default-104x20.png" alt="" width="104" height="20" srcset="images/logo-default-208x40.png 2x"/>
        <div class="cssload-wrapper">
          <div class="cssload-border">
            <div class="cssload-whitespace">
              <div class="cssload-line"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="page">
      <header class="section page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-classic novi-bg" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-sm-device-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-stick-up-clone="false" data-md-stick-up-offset="74px" data-lg-stick-up-offset="66px" data-md-stick-up="true" data-lg-stick-up="true">
            <div class="rd-navbar-outer">
              <div class="rd-navbar-inner">
                <!-- RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!-- RD Navbar Brand-->
                  <div class="rd-navbar-brand"><a class="brand" href="index.html">
                      <div class="brand__name"><img class="brand__logo-dark" src="images/logo-default-104x20.png" alt="" width="104" height="20" srcset="images/logo-default-208x40.png 2x"/><img class="brand__logo-light" src="images/logo-inverse-104x20.png" alt="" width="104" height="20" srcset="images/logo-inverse-208x40.png 2x"/>
                      </div></a></div>
                </div>

                <div class="rd-navbar-body">
                  <!-- RD Navbar Aside-->
                  <div class="rd-navbar-aside">
                    <div class="rd-navbar-content-outer">
                      <div class="rd-navbar-content__toggle rd-navbar-static--hidden" data-rd-navbar-toggle=".rd-navbar-content"><span></span></div>
                      <div class="rd-navbar-content">
                        <ul class="list-bordered list-inline">
                          <li>
                            <dl class="list-terms-inline">
                              <dt>24/7 Support</dt>
                              <dd><a href="tel:#">1-800-700-6200</a></dd>
                            </dl>
                          </li>
                          <li>
                            <dl class="list-terms-inline">
                              <dt>E-mail</dt>
                              <dd><a href="mailto:#">mail@demolink.org</a></dd>
                            </dl>
                          </li>
                          <li>
                            <ul class="list-inline list-inline-xs social-list">
                              <li><a class="icon novi-icon icon-gray-dark icon-style-brand fa fa-facebook" href="#"></a></li>
                              <li><a class="icon novi-icon icon-gray-dark icon-style-brand fa fa-twitter" href="#"></a></li>
                              <li><a class="icon novi-icon icon-gray-dark icon-style-brand fa fa-google-plus" href="#"></a></li>
                              <li><a class="icon novi-icon icon-gray-dark icon-style-brand fa fa-pinterest-p" href="#"></a></li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <!-- RD Navbar Nav Wrap-->
                  <div class="rd-navbar-nav-wrap">
                    <div class="rd-navbar-element">
                      <!-- RD Navbar Search-->
                      <div class="rd-navbar-search rd-navbar-search-toggled">
                        <button class="rd-navbar-search-toggle" data-rd-navbar-toggle=".rd-navbar-search"></button>
                        <form class="rd-search" action="search-results.html" data-search-live="rd-search-results-live" method="GET">
                          <div class="form-wrap">
                            <input class="form-input" id="rd-navbar-search-form-input" type="text" name="s" autocomplete="off">
                            <label class="form-label" for="rd-navbar-search-form-input">Search...</label>
                          </div>
                          <button class="rd-navbar-search-submit" type="submit"></button>
                          <div class="rd-search-results-live" id="rd-search-results-live"></div>
                        </form>
                      </div>
                    </div>
                    <!-- RD Navbar Nav-->
                    <ul class="rd-navbar-nav">
                      <li><a href="about.html">About</a>
                      </li>
                      <li><a href="services.html">Services</a>
                      </li>
                      <li><a href="blog.html">Blog</a>
                        <!-- RD Navbar Dropdown-->
                        <ul class="rd-navbar-dropdown">
                          <li><a href="blog-post.html">Blog post</a></li>
                        </ul>
                      </li>
                      <li><a href="faq.html">FAQ</a>
                      </li>
                      <li><a href="pages.html">Pages</a>
                        <!-- RD Navbar Dropdown-->
                        <ul class="rd-navbar-dropdown">
                          <li><a href="maintenance.html">Maintenance</a></li>
                          <li><a href="privacy-policy.html">Privacy policy</a></li>
                          <li><a href="404-page.html">404 Page</a></li>
                          <li><a href="coming-soon.html">Coming Soon</a></li>
                        </ul>
                      </li>
                      <li><a href="contact-us.html">Contact Us</a>
                      </li>
                      <li class="active"><a href="#">Elements</a>
                        <!-- RD Navbar Megamenu-->
                        <ul class="rd-navbar-megamenu">
                          <li>
                            <h5 class="rd-megamenu-header">Elements 1</h5>
                            <ul class="rd-megamenu-list">
                              <li><a href="breadcrumbs.html">Breadcrumbs</a></li>
                              <li><a href="maps.html">Maps</a></li>
                              <li><a href="sliders.html">Sliders</a></li>
                              <li><a href="gallery.html">Gallery</a></li>
                              <li><a href="gallery-album.html">Gallery Album</a></li>
                            </ul>
                          </li>
                          <li>
                            <h5 class="rd-megamenu-header">Elements 2</h5>
                            <ul class="rd-megamenu-list">
                              <li><a href="headers.html">Headers</a></li>
                              <li><a href="footers.html">Footers</a></li>
                              <li><a href="pricing.html">Pricing</a></li>
                              <li><a href="testimonials.html">Testimonials</a></li>
                              <li><a href="partners.html">Partners</a></li>
                            </ul>
                          </li>
                          <li>
                            <h5 class="rd-megamenu-header">Elements 3</h5>
                            <ul class="rd-megamenu-list">
                              <li><a href="forms.html">Forms</a></li>
                              <li><a href="team.html">Team</a></li>
                              <li><a href="counters.html">Counters</a></li>
                              <li><a href="advantages.html">Advantages</a></li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>

      <!-- Breadcrumbs-->
      <section class="section breadcrumbs-custom">
        <div class="breadcrumbs-custom__aside bg-image context-dark novi-bg novi-bg-img" style="background-image: url(images/bg-image-1-1920x900.jpg);">
          <div class="container">
            <h2 class="breadcrumbs-custom__title">Forms</h2>
          </div>
        </div>
        <div class="breadcrumbs-custom__main bg-gray-light novi-bg">
          <div class="container">
            <ul class="breadcrumbs-custom__path">
              <li><a href="index.html">Home</a></li>
              <li><a href="#">Elements</a></li>
              <li class="active">Forms</li>
            </ul>
          </div>
        </div>
      </section>

      <!-- Page title -->
      <section class="section section-md bg-default text-center novi-bg novi-bg-img">
        <div class="container">
          <div class="row row-50 justify-content-md-center">
            <div class="col-md-9 col-lg-8 col-xl-6">
              <h3>Forms</h3>
              <p class="big">With forms you can get almost any kind of information from your visitors, who will definitely appreciate this attractive element.</p>
            </div>
          </div>
          <div class="row row-fix justify-content-md-center">
            <div class="col-md-10 col-lg-8 col-xl-6">
              <h4>Login form</h4>
              <div class="group-sm group-sm-justify group-middle"><a class="button button-facebook button-icon button-icon-left" href="#"><span class="icon novi-icon fa fa-facebook"></span>Facebook</a><a class="button button-twitter button-icon button-icon-left" href="#"><span class="icon novi-icon fa fa-twitter"></span>Twitter</a><a class="button button-google button-icon button-icon-left" href="#"><span class="icon novi-icon fa fa-google-plus"></span>Google+</a></div>
              <div class="text-decoration-lines"><span class="text-decoration-lines__content">or</span></div>
              <!-- RD Mailform-->
              <form class="rd-mailform rd-mailform_label-centered">
                <div class="form-wrap">
                  <label class="form-label-outside" for="login-email">E-mail</label>
                  <input class="form-input" id="login-email" type="email" name="email" data-constraints="@Email @Required">
                </div>
                <div class="form-wrap">
                  <label class="form-label-outside" for="login-password">Password</label>
                  <input class="form-input" id="login-password" type="password" name="pass" data-constraints="@Required">
                </div>
                <div class="form-wrap">
                  <label class="checkbox-inline">
                    <input type="checkbox">Remember Me
                  </label>
                </div>
                <div class="row row-fix row-20 form-wrap">
                  <div class="col-md-6">
                    <button class="button button-gradient button-ujarak button-block" type="submit">Login</button>
                  </div>
                  <div class="col-md-6">
                    <button class="button button-default-outline button-block button-ujarak">Create an Account</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>


      <section class="divider"></section>
      <!-- Contact us-->
      <section class="section section-md bg-default text-center novi-bg novi-bg-img">
        <div class="container">
          <div class="row row-fix justify-content-md-center">
            <div class="col-md-10 col-lg-7 col-xl-6">
              <h4>Contact us</h4>
              <!-- RD Mailform-->
              <form class="rd-mailform" data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php">
                <div class="row row-fix align-items-md-end row-20">
                  <div class="col-md-6">
                    <div class="form-wrap">
                      <input class="form-input" id="contact-name" type="text" name="name" data-constraints="@Required">
                      <label class="form-label" for="contact-name">Your Name</label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-wrap">
                      <input class="form-input" id="contact-phone" type="text" name="phone" data-constraints="@PhoneNumber">
                      <label class="form-label" for="contact-phone">Phone</label>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-wrap">
                      <label class="form-label" for="contact-message">Your Message</label>
                      <textarea class="form-input" id="contact-message" name="message" data-constraints="@Required"></textarea>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-wrap">
                      <input class="form-input" id="contact-email" type="email" name="email" data-constraints="@Email @Required">
                      <label class="form-label" for="contact-email">E-mail</label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <button class="button button-block button-gradient button-ujarak" type="submit">Send Message</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>

      <section class="divider"></section>
      <!-- Contact Us-->
      <section class="section section-md bg-default text-center novi-bg novi-bg-img">
        <div class="container">
          <div class="row row-fix justify-content-md-center">
            <div class="col-md-10 col-lg-7 col-xl-6">
              <h4>Contact Us (with reCAPTCHA)</h4>
              <!-- RD Mailform-->
              <form class="rd-mailform" data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php">
                <div class="row row-fix align-items-md-end row-20">
                  <div class="col-md-6">
                    <div class="form-wrap">
                      <input class="form-input" id="contact-form-2-name" type="text" name="name" data-constraints="@Required">
                      <label class="form-label" for="contact-form-2-name">Your Name</label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-wrap">
                      <input class="form-input" id="contact-form-2-phone" type="text" name="phone" data-constraints="@PhoneNumber">
                      <label class="form-label" for="contact-form-2-phone">Phone</label>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-wrap">
                      <label class="form-label" for="contact-form-2-message">Your Message</label>
                      <textarea class="form-input" id="contact-form-2-message" name="message" data-constraints="@Required"></textarea>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-wrap">
                      <input class="form-input" id="contact-form-2-email" type="email" name="email" data-constraints="@Email @Required">
                      <label class="form-label" for="contact-form-2-email">E-mail</label>
                    </div>
                  </div>
                  <div class="col-md-7">
                    <div class="form-wrap form-wrap-recaptcha">
                      <!-- Google captcha-->
                      <div class="recaptcha" id="captcha1" data-sitekey="6LfZlSETAAAAAC5VW4R4tQP8Am_to4bM3dddxkEt"></div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <button class="button button-block button-gradient button-ujarak" type="submit">Send Message</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>

      <section class="divider"></section>
      <section class="section section-sm bg-gray-light novi-bg novi-bg-img">
        <div class="container">
          <div class="row row-fix">
            <div class="col-12">
              <h3>Subscribe form</h3>
            </div>
          </div>
        </div>
      </section>
      <!-- Subscribe to Our Newsletter-->
      <section class="section parallax-container bg-gray-darker" data-parallax-img="images/bg-image-3-1920x730.jpg">
        <div class="parallax-content">
          <div class="section-md text-center">
            <div class="container">
              <div class="row row-fix justify-content-md-center">
                <div class="col-md-9 col-lg-8 col-xl-7">
                  <h3>Subscribe to Our Newsletter</h3>
                  <p><span class="box-width-1">Sign up to our newsletter and be the first to know about the latest company news, special offers, events, and discounts.</span></p>
                  <!-- RD Mailform-->
                  <form class="rd-mailform form_inline form_inline-centered form_transparent" data-form-output="form-output-global" data-form-type="subscribe" method="post" action="bat/rd-mailform.php">
                    <div class="form-wrap">
                      <input class="form-input" id="subscribe-form-1-email" type="email" name="email" data-constraints="@Email @Required"/>
                      <label class="form-label" for="subscribe-form-1-email">Your E-mail</label>
                    </div>
                    <div class="form-button">
                      <button class="button button-default button-ujarak" type="submit">Subscribe</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


      <section class="divider"></section>
      <section class="section section-sm bg-gray-light novi-bg novi-bg-img">
        <div class="container">
          <div class="row row-fix">
            <div class="col-12">
              <h3>Subscribe form center</h3>
            </div>
          </div>
        </div>
      </section>
      <!-- Subscribe to Our Newsletter-->
      <section class="section parallax-container bg-gray-darker" data-parallax-img="images/bg-image-3-1920x730.jpg">
        <div class="parallax-content">
          <div class="section-md text-center">
            <div class="container">
              <div class="row row-fix justify-content-md-center">
                <div class="col-md-9 col-lg-8 col-xl-7">
                  <h3>Subscribe to Our Newsletter</h3>
                  <p><span class="box-width-1">Sign up to our newsletter and be the first to know about the latest company news, special offers, events, and discounts.</span></p>
                  <!-- RD Mailform-->
                  <form class="rd-mailform form_transparent text-center" data-form-output="form-output-global" data-form-type="subscribe" method="post" action="bat/rd-mailform.php">
                    <div class="form-wrap">
                      <input class="form-input" id="subscribe-form-2-email" type="email" name="email" data-constraints="@Email @Required">
                      <label class="form-label" for="subscribe-form-2-email">Your E-mail</label>
                    </div>
                    <div class="form-button">
                      <button class="button button-default button-ujarak" type="submit">Subscribe</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>



      <section class="divider"></section>
      <section class="section section-sm bg-gray-light novi-bg novi-bg-img">
        <div class="container">
          <div class="row row-fix">
            <div class="col-12">
              <h3>Subscribe form icon button</h3>
            </div>
          </div>
        </div>
      </section>
      <!-- Subscribe to Our Newsletter-->
      <section class="section parallax-container bg-gray-darker" data-parallax-img="images/bg-image-3-1920x730.jpg">
        <div class="parallax-content">
          <div class="section-md text-center">
            <div class="container">
              <div class="row row-fix justify-content-md-center">
                <div class="col-md-9 col-lg-8 col-xl-7">
                  <h3>Subscribe to Our Newsletter</h3>
                  <p><span class="box-width-1">Sign up to our newsletter and be the first to know about the latest company news, special offers, events, and discounts.</span></p>
                  <!-- RD Mailform-->
                  <form class="rd-mailform form_transparent rd-mailform_inline-3" data-form-output="form-output-global" data-form-type="subscribe" method="post" action="bat/rd-mailform.php">
                    <div class="form-wrap">
                      <input class="form-input" id="subscribe-form-3-email" type="email" name="email" data-constraints="@Email @Required">
                      <label class="form-label" for="subscribe-form-3-email">Your E-mail</label>
                    </div>
                    <button class="button button-default fa-envelope" type="submit"></button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


      <!-- Page Footer-->
      <footer class="section footer-creative bg-primary-darken novi-bg novi-bg-img">
        <div class="container">
          <div class="footer-creative__column footer-creative__column_decorated bg-primary">
            <div class="background-item novi-bg"></div>
            <h3>24/7 Support:</h3>
            <div class="unit flex-row text-primary-darken-2">
              <div class="unit__left"><span class="icon novi-icon icon-md icon-default fl-bigmug-line-headphones32"></span></div>
              <div class="unit__body"><a class="link link-lg" href="tel:#">1-800-700-6200</a>
                <p class="ls-05">Our Support Service is always available to help you.</p>
              </div>
            </div>
          </div>
          <div class="footer-creative__column">
            <ul class="list-tags">
              <li><a href="#">Tutorials</a></li>
              <li><a href="pricing.html">Pricing</a></li>
              <li><a href="#">Support</a></li>
              <li><a href="contact-us.html">Contact Us</a></li>
              <li><a href="blog.html">Blog</a></li>
              <li><a href="#">Operations Consulting</a></li>
              <li><a href="#">Market Analysis</a></li>
              <li><a href="#">Risk Management</a></li>
              <li><a href="#">Employee training</a></li>
              <li><a href="#">Investment banking</a></li>
              <li><a href="#">Business planning</a></li>
            </ul>
            <hr>
            <div class="layout-justify">
              <!-- Rights-->
              <p class="rights"><span>&copy;&nbsp; </span><span class="copyright-year"></span><span>&nbsp;</span><span>Consult</span><span>.&nbsp;</span><a href="privacy-policy.html">Privacy Policy</a><span>.</span><span> Design&nbsp;by&nbsp;<a href="https://zemez.io/">Zemez</a></span></p>
              <ul class="list-inline list-inline-xs social-list">
                <li><a class="icon novi-icon icon-gray-dark icon-style-brand fa fa-facebook" href="#"></a></li>
                <li><a class="icon novi-icon icon-gray-dark icon-style-brand fa fa-twitter" href="#"></a></li>
                <li><a class="icon novi-icon icon-gray-dark icon-style-brand fa fa-google-plus" href="#"></a></li>
                <li><a class="icon novi-icon icon-gray-dark icon-style-brand fa fa-pinterest-p" href="#"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>

    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>

sources/pug/pages/forms.pug
extends  ../_skeleton

//- Includes
include ../elements/_ui-inline-subscribe-form

block variables
	- var activeCategory = 'elements'
	- var pageName = 'Forms'

block page
	include ../sections/_header-classic

	+breadcrumbs({
		category: activeCategory,
		path: [pageName],
		bgImage: 'bg-image-1-1920x900'
	})

	+page-title({
		title: pageName,
		text: 'With forms you can get almost any kind of information from your visitors, who will definitely appreciate this attractive element.'
	})
		.row.row-fix.justify-content-md-center
			.col-md-10.col-lg-8.col-xl-6
				h4 Login form
				.group-sm.group-sm-justify.group-middle
					a.button.button-facebook.button-icon.button-icon-left(href='#')
						span.icon.novi-icon.fa.fa-facebook
						| Facebook
					a.button.button-twitter.button-icon.button-icon-left(href='#')
						span.icon.novi-icon.fa.fa-twitter
						| Twitter
					a.button.button-google.button-icon.button-icon-left(href='#')
						span.icon.novi-icon.fa.fa-google-plus
						| Google+
				.text-decoration-lines
					span.text-decoration-lines__content or

				// RD Mailform
				form.rd-mailform.rd-mailform_label-centered
					.form-wrap
						label.form-label-outside(for="login-email") E-mail
						input#login-email.form-input(type="email" name="email" data-constraints="@Email @Required")

					.form-wrap
						label.form-label-outside(for="login-password") Password
						input#login-password.form-input(type="password" name="pass" data-constraints="@Required")

					.form-wrap
						label.checkbox-inline
							input(type='checkbox')
							| Remember Me

					.row.row-fix.row-20.form-wrap
						.col-md-6
							button(type="submit").button.button-gradient.button-ujarak.button-block Login
						.col-md-6
							button.button.button-default-outline.button-block.button-ujarak Create an Account
	="\n"

	section.divider

	// Contact us
	section.section.section-md.bg-default.text-center.novi-bg.novi-bg-img
		.container
			.row.row-fix.justify-content-md-center
				.col-md-10.col-lg-7.col-xl-6
					h4 Contact us
					// RD Mailform
					form.rd-mailform(data-form-output="form-output-global", data-form-type='contact', method='post', action='bat/rd-mailform.php')
						.row.row-fix.align-items-md-end.row-20
							.col-md-6
								.form-wrap
									input#contact-name.form-input(type="text" name="name" data-constraints='@Required')
									label.form-label(for="contact-name") Your Name

							.col-md-6
								.form-wrap
									input#contact-phone.form-input(type="text" name="phone" data-constraints='@PhoneNumber')
									label.form-label(for="contact-phone") Phone

							.col-sm-12
								.form-wrap
									label.form-label(for="contact-message") Your Message
									textarea#contact-message.form-input(name="message" data-constraints="@Required")

							.col-md-6
								.form-wrap
									input#contact-email.form-input(type="email" name="email" data-constraints="@Email @Required")
									label.form-label(for="contact-email") E-mail

							.col-md-6
								button(type="submit").button.button-block.button-gradient.button-ujarak Send Message
	="\n"

	section.divider

	// Contact Us
	section.section.section-md.bg-default.text-center.novi-bg.novi-bg-img
		.container
			.row.row-fix.justify-content-md-center
				.col-md-10.col-lg-7.col-xl-6
					h4 Contact Us (with reCAPTCHA)
					// RD Mailform
					form.rd-mailform(data-form-output="form-output-global", data-form-type='contact', method='post', action='bat/rd-mailform.php')
						.row.row-fix.align-items-md-end.row-20
							.col-md-6
								.form-wrap
									input#contact-form-2-name.form-input(type="text" name="name" data-constraints='@Required')
									label.form-label(for="contact-form-2-name") Your Name

							.col-md-6
								.form-wrap
									input#contact-form-2-phone.form-input(type="text" name="phone" data-constraints='@PhoneNumber')
									label.form-label(for="contact-form-2-phone") Phone

							.col-sm-12
								.form-wrap
									label.form-label(for="contact-form-2-message") Your Message
									textarea#contact-form-2-message.form-input(name="message" data-constraints="@Required")

							.col-md-6
								.form-wrap
									input#contact-form-2-email.form-input(type="email" name="email" data-constraints="@Email @Required")
									label.form-label(for="contact-form-2-email") E-mail

							.col-md-7
								.form-wrap.form-wrap-recaptcha
									// Google captcha
									.recaptcha#captcha1(data-sitekey="6LfZlSETAAAAAC5VW4R4tQP8Am_to4bM3dddxkEt")

							.col-md-6
								button(type="submit").button.button-block.button-gradient.button-ujarak Send Message
	="\n"

	section.divider

	section.section.section-sm.bg-gray-light.novi-bg.novi-bg-img
		.container
			.row.row-fix
				.col-12
					h3 Subscribe form
	// Subscribe to Our Newsletter
	+parallax-section({
		img: 'bg-image-3-1920x730'
	})
		.section-md.text-center
			.container: .row.row-fix.justify-content-md-center: .col-md-9.col-lg-8.col-xl-7
				h3 Subscribe to Our Newsletter
				p: span.box-width-1 Sign up to our newsletter and be the first to know about the latest company news, special offers, events, and discounts.

				+inline-subscribe-form({
					classMod: 'form_inline-centered form_transparent'
				})
	="\n"

	section.divider

	section.section.section-sm.bg-gray-light.novi-bg.novi-bg-img
		.container
			.row.row-fix
				.col-12
					h3 Subscribe form center
	// Subscribe to Our Newsletter
	+parallax-section({
		img: 'bg-image-3-1920x730'
	})
		.section-md.text-center
			.container: .row.row-fix.justify-content-md-center: .col-md-9.col-lg-8.col-xl-7
				h3 Subscribe to Our Newsletter
				p: span.box-width-1 Sign up to our newsletter and be the first to know about the latest company news, special offers, events, and discounts.

				// RD Mailform
				form.rd-mailform.form_transparent.text-center(data-form-output="form-output-global", data-form-type='subscribe', method='post', action='bat/rd-mailform.php')
					.form-wrap
						input.form-input(id="subscribe-form-2-email" type="email" name="email" data-constraints="@Email @Required")
						label.form-label(for="subscribe-form-2-email") Your E-mail
					.form-button
						button.button.button-default.button-ujarak(type="submit") Subscribe
	="\n"
	="\n"

	section.divider

	section.section.section-sm.bg-gray-light.novi-bg.novi-bg-img
		.container
			.row.row-fix
				.col-12
					h3 Subscribe form icon button
	// Subscribe to Our Newsletter
	+parallax-section({
		img: 'bg-image-3-1920x730'
	})
		.section-md.text-center
			.container: .row.row-fix.justify-content-md-center: .col-md-9.col-lg-8.col-xl-7
				h3 Subscribe to Our Newsletter
				p: span.box-width-1 Sign up to our newsletter and be the first to know about the latest company news, special offers, events, and discounts.

				// RD Mailform
				form.rd-mailform.form_transparent.rd-mailform_inline-3(data-form-output="form-output-global", data-form-type='subscribe', method='post', action='bat/rd-mailform.php')
					.form-wrap
						input.form-input(id="subscribe-form-3-email" type="email" name="email" data-constraints="@Email @Required")
						label.form-label(for="subscribe-form-3-email") Your E-mail
					button.button.button-default.fa-envelope(type="submit")
	="\n"

	// Page Footer
	include ../sections/_footer-creative
