projects/template/index.html
<!DOCTYPE html><html class="wide wow-animation" lang="en"><head><title>Home</title><meta name="format-detection" content="telephone=no"><meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta charset="utf-8"><link rel="icon" type="image/logo_carrito.png" href="images/logo_carrito.png"><link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:400,700%7CSpace+Mono:400"><link rel="stylesheet" href="css/bootstrap.css"><link rel="stylesheet" href="css/fonts.css"><link rel="stylesheet" href="css/style.css"><link rel="stylesheet" href="css/novi.css"><style type="text/css">     #page-loader {       position: fixed;       left: 0;       top: 0;       bottom: 0;       right: 0;       float: left;       display: flex;       align-items: center;       justify-content: center;       padding: 20px 20px 8%;       z-index: 9999999;       opacity: 1;       background: #fff;       transition: .3s all ease     }      #page-loader .page-loader-body {       text-align: center     }      #page-loader *+.cssload-wrapper {       margin-top: 30px     }      #page-loader.loaded {       display: none;       z-index: -10000     }      [data-x-mode=true] #page-loader {       display: none !important     }      .cssload-wrapper {       width: 300px;       max-width: 95%     }      .cssload-border {       position: relative;       width: 100%;       padding: 8px     }      .cssload-whitespace {       position: relative;       overflow: hidden;       width: 100%;       height: 5px;       margin: 0 auto     }      .cssload-line {       position: absolute;       width: 100%;       height: inherit;       background: linear-gradient(90deg, #04ccfc, #3a7bd5);       animation: cssload-slide 3s ease-in-out infinite both     }      @media (min-width: 768px) {       .cssload-wrapper {         width: 400px       }     }      @keyframes cssload-slide {       0% {         left: -100%       }        100% {         left: 100%       }     }   </style><!--[if lt IE 10]><div    style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg"                                      border="0" height="42" width="820"                                      alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div><script src="js/html5shiv.min.js"></script><![endif]--><link rel="stylesheet" href="fonts/font-awesome-5-brands/fa-brands.css"></head><body><div id="page-loader"><div class="page-loader-body"><img src="images/img-logo-83x35.png" alt="" width="104" height="20" srcset="images/logo_sice.png 2x"><div class="cssload-wrapper"><div class="cssload-border"><div class="cssload-whitespace"><div class="cssload-line"></div></div></div></div></div></div><div class="page"><header class="section page-header section-navbar-slider"><div class="rd-navbar-wrap"><nav class="rd-navbar rd-navbar-creative" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-sm-device-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static" data-lg-layout="rd-navbar-static" data-stick-up-clone="false" data-md-stick-up-offset="74px" data-lg-stick-up-offset="66px" data-md-stick-up="true" data-lg-stick-up="true"><div class="rd-navbar-aside-outer"><div class="rd-navbar-aside rd-navbar-content-outer"><div class="rd-navbar-content__toggle rd-navbar-static--hidden" data-rd-navbar-toggle=".rd-navbar-content"><span></span></div><div class="rd-navbar-content"><ul class="rd-navbar-content__list"><li><span class="icon icon-sm icon-darker fl-bigmug-line-headphones32 novi-icon"></span><dl class="list-terms-inline"><dt>&nbsp;Suporte</dt><dd><a href="tel:#">+(593) 3-800-645</a></dd>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;                     </dl></li><li><span class="icon icon-xs-2 icon-darker fl-bigmug-line-email64 novi-icon"></span><dl class="list-terms-inline"><dt>E-mail</dt><dd><a href="mailto:#">info@gotrade.com.ec</a></dd></dl></li><li><span class="icon icon-sm icon-darker fl-bigmug-line-chat55 novi-icon"></span><dl class="list-terms-inline"><dt>Social Media</dt><dd><ul class="list-inline list-inline-xs social-list"><li><a class="novi-icon icon icon-gray-dark icon-style-brand fa fa-facebook" href="#"></a></li><li><a class="novi-icon icon icon-gray-dark icon-style-brand mdi-instagram mdi" href="#"></a></li><li><a class="novi-icon icon icon-gray-dark icon-style-brand mdi-linkedin-box mdi" href="#"></a></li></ul></dd></dl></li></ul></div></div></div><div class="rd-navbar-main-outer"><div class="rd-navbar-main"><div class="rd-navbar-panel"><button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button><div class="rd-navbar-brand"><a class="brand" href="index.html"><div class="brand__name"><img class="brand__logo-dark" src="images/logoimg-logo-83x35.png" alt="" width="104" height="20" srcset="images/img-logo-83x35.png 2x"><img class="brand__logo-light" src="images/logo_sice.png" alt="" width="104" height="20"></div></a></div></div><div class="rd-navbar-nav-wrap"><ul class="rd-navbar-nav"><li class="active"><a href="index.html">Inicio</a></li><li><a href="about.html">nosotros</a></li><li class="rd-navbar--has-dropdown rd-navbar-submenu opened"><a>Servicios</a><ul class="rd-navbar-dropdown"><li><a href="servicio_horario.html" target="" class="">Control de Horarios</a></li><li><a href="servicio_georeferenciacion.html" target="">Georreferenciación</a></li><li><a href="servicio_ruteros.html" target="">Ruteo</a></li><li><a href="servicio_encuestas.html" target="">Sistema de Encuestas</a></li><li><a href="servicio_msl.html" class="" target="">Levantamiento de Faltantes de Stock</a></li><li><a href="servicio_reportes.html" target="">Informes</a></li><li><a href="servicio_reportes.html" class="" target="">Reportes Fotográficos</a></li><li><a href="servicios.html" class="" target="">Seguridad y Confiabilidad</a></li></ul></li><li><a href="contact-us.html">Contactanos</a></li></ul></div></div></div></nav></div><div class="swiper-container swiper-slider swiper_style-4 swiper_height-2 swiper-pagination_creative" data-loop="true" data-autoplay="10000" data-simulate-touch="false" data-slide-effect="fade"><div class="swiper-wrapper"><div class="swiper-slide bg-image-dark" data-slide-bg="images/slider-slide-1-1920x850.jpg"><div class="swiper-slide-caption"><div class="container"><h1 class="title" data-caption-animate="fadeInUpXSmall"><span data-novi-id="15">SICE</span></h1><p class="caption" data-caption-animate="fadeInUpSmall"><span data-novi-id="3">Sistema de Inteligencia Comercial y Estadístico<br data-novi-id="13"><br data-novi-id="11"><br><br>Especialistas en Trade Marketing</span></p><a class="button button-lg button-gradient button-ujarak" href="#" data-caption-animate="fadeIn" data-caption-delay="200">Leer mas</a></div></div></div><div class="swiper-slide bg-image-dark" data-slide-bg="images/slider-slide-2-1920x850.jpg"><div class="swiper-slide-caption"><div class="container"><h1 class="title" data-caption-animate="fadeInUpXSmall">Monitoreo inteligente de mercado</h1><p class="caption" data-caption-animate="fadeInUpSmall"><span data-novi-id="9"><span data-novi-id="14">Trabajando desde el 2009 con nuestros clientes la experiencia es nuestra clave.</span></span></p><a class="button button-lg button-gradient button-ujarak" href="#" data-caption-animate="fadeIn" data-caption-delay="200">Leer mas</a></div></div></div></div><div class="swiper-pagination__module"><div class="swiper-pagination"></div><div class="swiper-pagination__divider"></div><div class="swiper-pagination__fraction"><span class="swiper-pagination__fraction-index">00</span><span class="swiper-pagination__fraction-divider"></span><span class="swiper-pagination__fraction-count">00</span></div></div></div></header><section class="section section-md bg-default novi-bg novi-bg-img"><div class="container"><div class="row row-50 justify-content-sm-center flex-lg-row-reverse align-items-lg-center"><div class="col-sm-10 col-lg-5 col-xl-4"><h2><span data-novi-id="2">Nuestros&nbsp;Servicios</span></h2><ul class="list-classy"><li class="list-classy__item"><a href="servicio_georeferenciacion.html"><span class="icon novi-icon mdi-map-marker-radius mdi" style="color:orange"></span><div><h4 class="list-classy__title" style="color:orange">Georeferenciación</h4><p><span data-novi-id="16">Ubica nuevos puntos para incrementar tus ventas&nbsp;...</span></p></div></a></li><li class="list-classy__item list-classy__item_secondary"><a href="servicio_reportes.html"><span class="icon novi-icon fl-bigmug-line-three142"></span><div><h4 class="list-classy__title" style="color:orange">Análisis de productos</h4><p class=""><span data-novi-id="17">Obtén un reporte sobre como se encuentran tus productos ...</span></p></div></a></li><li class="list-classy__item list-classy__item_tertiary"><a href="servicio_horario.html"><span class="icon novi-icon mdi-timelapse mdi"></span><div><h4 class="list-classy__title" style="color:orange">Control de horarios</h4><p><span data-novi-id="18">Mejora el rendimiento de las horas trabajadas para tu personal ...</span></p></div></a></li></ul><a class="button button-lg button-default-outline button-ujarak" href="servicio.html" target="">Ver mas</a></div><div class="col-sm-10 col-lg-7 col-xl-8"><div class="box-inset-2"><div class="thumb-video"><img class="thumb-video__image" src="images/1-2.jpg" alt="" width="699" height="488"><div class="thumb-video__caption"><button class="thumb-video__button" type="button" data-toggle="modal" data-target="#modalVideoAbout"></button><h3 class="thumb-video__title">About Us</h3></div></div></div></div></div></div><div class="modal modal-video fade" id="modalVideoAbout" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"><div class="modal-dialog" role="document"><div class="modal-content"><div class="modal-header"><button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button><h4 class="modal-title" id="myModalLabel">About Us</h4></div><div class="modal-body"><div class="embed-responsive embed-responsive-16by9"><iframe src="//www.youtube.com/embed/QZzbm-FrkGk" width="640" height="360" allowfullscreen=""></iframe></div></div></div></div></div></section><section class="section parallax-container bg-gray-darker" data-parallax-img="images/logo_siceg-3-2.jpg"><div class="parallax-content"><div class="section-lg text-center"><div class="container"><h2>Algunas características sobre nosotros</h2><p class="text-style-1">Ofrecer soluciones comerciales rentables y de alta calidad.</p><div class="row row-custom-bordered row-md-30"><div class="col-sm-6 col-lg-3"><article class="box-counter box-counter_creative"><div class="box-counter__main"><span class="icon novi-icon fl-bigmug-line-cube29"></span><span>2408</span></div><p class="box-counter__title">&nbsp;Más de 2000&nbsp;Proyectos</p></article></div><div class="col-sm-6 col-lg-3"><article class="box-counter box-counter_creative"><div class="box-counter__main"><span class="icon novi-icon fl-bigmug-line-portfolio23"></span><div class="counter">100</div></div><p class="box-counter__title">Más de 100 marcas</p></article></div><div class="col-sm-6 col-lg-3"><article class="box-counter box-counter_creative"><div class="box-counter__main"><span class="icon novi-icon fl-bigmug-line-shopping202"></span><div class="counter">5310</div></div><p class="box-counter__title">Más de 5 mil&nbsp;Sku's al mes</p></article></div><div class="col-sm-6 col-lg-3"><article class="box-counter box-counter_creative"><div class="box-counter__main"><span class="icon novi-icon fl-bigmug-line-circular229"></span><div class="counter">100</div><span class="small small_top">%</span></div><p class="box-counter__title">Cobertura y soporte</p></article></div></div></div></div></div></section><section class="section section-md section-variant-3 bg-default text-center novi-bg novi-bg-img"><div class="container"><h2><span data-novi-id="10">¿Por qué elegirnos?</span></h2><div class="row row-30 row-md-70 row-flex wow fadeIn"><div class="col-md-6 col-lg-4"><article class="box-veronika"><div class="box-veronika__inner"><div class="box-veronika__icon-outer" style="color:orange"><div class="box-veronika__icon novi-icon mdi-chart-pie mdi" style="color:orange"></div></div><div class="box-veronika__main"><h5 class="box-veronika__title"><span data-novi-id="20" style="color:orange">Innovación</span></h5><p class=""><span data-novi-id="19">Aportamos&nbsp;con un nuevo enfoque para tu negocio, implementado innovaciones tecnológicas que mejoren tus ingresos.</span></p></div></div></article></div><div class="col-md-6 col-lg-4"><article class="box-veronika"><div class="box-veronika__inner"><div class="box-veronika__icon-outer"><div class="box-veronika__icon novi-icon box-veronika__icon-md fl-bigmug-line-lock64"></div></div><div class="box-veronika__main"><h5 class="box-veronika__title"><span data-novi-id="22" style="color:orange">Privacidad y Transparencia</span></h5><p class=""><span data-novi-id="21">El personal tiene acceso únicamente a la información que le concierne&nbsp; de acuerdo a su proyecto. Los datos ingresados al sistema no pueden ser manipulados.</span></p></div></div></article></div><div class="col-md-6 col-lg-4"><article class="box-veronika"><div class="box-veronika__inner"><div class="box-veronika__icon-outer"><div class="box-veronika__icon novi-icon fl-bigmug-line-monitor74"></div></div><div class="box-veronika__main"><h5 class="box-veronika__title" style="color:orange"><span data-novi-id="24">Información vía Web y Móvil</span></h5><p class=""><span data-novi-id="23">Toda la información levantada es procesada por nuestro sistema tanto móvil como web y así obtenemos información relevante para tu negocio.</span></p></div></div></article></div><div class="col-md-6 col-lg-4"><article class="box-veronika"><div class="box-veronika__inner"><div class="box-veronika__icon-outer"><div class="box-veronika__icon novi-icon box-veronika__icon-md  fa-mixcloud fab" style="color:orange"></div></div><div class="box-veronika__main"><h5 class="box-veronika__title" style="color:orange"><span data-novi-id="25">Sistema en la nube</span></h5><p><span data-novi-id="26">Ahorre en costosos servidores, almacenamiento 100% seguro en los servidores de Amazon.</span></p></div></div></article></div><div class="col-md-6 col-lg-4"><article class="box-veronika"><div class="box-veronika__inner"><div class="box-veronika__icon-outer"><div class="box-veronika__icon novi-icon mdi-phone-in-talk mdi"></div></div><div class="box-veronika__main"><h5 class="box-veronika__title" style="color:orange"><span data-novi-id="27">Consultoría Dedicada</span></h5><p class=""><span data-novi-id="28">Contamos con un equipo especializado en Trade Marketing para ayudarte cuando lo necesites.</span></p></div></div></article></div><div class="col-md-6 col-lg-4"><article class="box-veronika"><div class="box-veronika__inner"><div class="box-veronika__icon-outer"><div class="box-veronika__icon novi-icon box-veronika__icon-md fa-stack-overflow fab"></div></div><div class="box-veronika__main"><h5 class="box-veronika__title" style="color:orange"><span data-novi-id="29">Registros</span></h5><p><span data-novi-id="30">Gestione la información que está almacenada en la base de datos a través de importaciones en masa o de forma manual.</span></p></div></div></article></div></div></div></section><section class="section section-sm bg-white novi-bg novi-bg-img"><div class="container"><div class="section__header"><h3><span data-novi-id="12">Nuestros Productos</span></h3><div class="isotope-filters isotope-filters-horizontal isotope-filters-left"><button class="isotope-filters-toggle button button-sm button-primary" data-custom-toggle="#isotope-filters-1" data-custom-toggle-disable-on-blur="true">Filter<span class="caret"></span></button><ul class="list-fix isotope-filters-list" id="isotope-filters-1"><li>Todos</li><li></li><li></li><li></li><li></li></ul></div></div><div class="row row-30 isotope" data-isotope-layout="masonry" data-isotope-group="grid" data-lightgallery="group"><div class="col-lg-3 col-md-6 isotope-item" data-filter="Commercials"><div class="thumb-elegant" data-lightgallery="dynamic" data-lg-dynamic-elements="[{&quot;thumb&quot;:&quot;images/services-1-565x401.jpg&quot;,&quot;src&quot;:&quot;images/services-1-565x401.jpg&quot;},{&quot;thumb&quot;:&quot;images/services-2-565x401.jpg&quot;,&quot;src&quot;:&quot;images/services-2-565x401.jpg&quot;},{&quot;thumb&quot;:&quot;images/services-3-565x401.jpg&quot;,&quot;src&quot;:&quot;images/services-3-565x401.jpg&quot;},{&quot;thumb&quot;:&quot;images/services-4-565x401.jpg&quot;,&quot;src&quot;:&quot;images/services-4-565x401.jpg&quot;}]"><img src="images/1-2-2508x1622.jpg" alt="" width="565" height="401"><div class="thumb-elegant__overlay"></div></div></div><div class="col-lg-3 col-md-6 isotope-item" data-filter="Digital advertising"><div class="thumb-elegant" data-lightgallery="dynamic" data-lg-dynamic-elements="[{&quot;thumb&quot;:&quot;images/services-5-565x401.jpg&quot;,&quot;src&quot;:&quot;images/services-5-565x401.jpg&quot;},{&quot;thumb&quot;:&quot;images/services-6-565x401.jpg&quot;,&quot;src&quot;:&quot;images/services-6-565x401.jpg&quot;},{&quot;thumb&quot;:&quot;images/services-7-565x401.jpg&quot;,&quot;src&quot;:&quot;images/services-7-565x401.jpg&quot;},{&quot;thumb&quot;:&quot;images/services-8-565x401.jpg&quot;,&quot;src&quot;:&quot;images/services-8-565x401.jpg&quot;}]"><img src="images/screen-3c.png" alt="" width="565" height="401"><div class="thumb-elegant__overlay"></div></div></div><div class="col-lg-3 col-md-6 isotope-item" data-filter="Commercials"><div class="thumb-elegant" data-lightgallery="dynamic" data-lg-dynamic-elements="[{&quot;thumb&quot;:&quot;images/services-8-565x401.jpg&quot;,&quot;src&quot;:&quot;images/services-8-565x401.jpg&quot;},{&quot;thumb&quot;:&quot;images/services-9-565x401.jpg&quot;,&quot;src&quot;:&quot;images/services-9-565x401.jpg&quot;},{&quot;thumb&quot;:&quot;images/services-10-565x401.jpg&quot;,&quot;src&quot;:&quot;images/services-10-565x401.jpg&quot;},{&quot;thumb&quot;:&quot;images/services-11-565x401.jpg&quot;,&quot;src&quot;:&quot;images/services-11-565x401.jpg&quot;}]"><img src="images/screen-2-2699x1779.png" alt="" width="565" height="401"><div class="thumb-elegant__overlay"></div></div></div><div class="col-lg-3 col-md-6 isotope-item" data-filter="Branding"><div class="thumb-elegant" data-lightgallery="dynamic" data-lg-dynamic-elements="[{&quot;thumb&quot;:&quot;images/services-12-565x401.jpg&quot;,&quot;src&quot;:&quot;images/services-12-565x401.jpg&quot;},{&quot;thumb&quot;:&quot;images/services-1-565x401.jpg&quot;,&quot;src&quot;:&quot;images/services-1-565x401.jpg&quot;},{&quot;thumb&quot;:&quot;images/services-2-565x401.jpg&quot;,&quot;src&quot;:&quot;images/services-2-565x401.jpg&quot;},{&quot;thumb&quot;:&quot;images/services-3-565x401.jpg&quot;,&quot;src&quot;:&quot;images/services-3-565x401.jpg&quot;}]"><img src="images/screenshot_1.png" alt="" width="565" height="401"><div class="thumb-elegant__overlay"></div></div></div><div class="col-lg-3 col-md-6 isotope-item" data-filter="Digital advertising"><div class="thumb-elegant" data-lightgallery="dynamic" data-lg-dynamic-elements="[{&quot;thumb&quot;:&quot;images/services-4-565x401.jpg&quot;,&quot;src&quot;:&quot;images/services-4-565x401.jpg&quot;},{&quot;thumb&quot;:&quot;images/services-5-565x401.jpg&quot;,&quot;src&quot;:&quot;images/services-5-565x401.jpg&quot;},{&quot;thumb&quot;:&quot;images/services-6-565x401.jpg&quot;,&quot;src&quot;:&quot;images/services-6-565x401.jpg&quot;},{&quot;thumb&quot;:&quot;images/services-7-565x401.jpg&quot;,&quot;src&quot;:&quot;images/services-7-565x401.jpg&quot;}]"><img src="images/screen-9-1.png" alt="" width="565" height="401"><div class="thumb-elegant__overlay"></div></div></div><div class="col-lg-3 col-md-6 isotope-item" data-filter="Digital advertising"><div class="thumb-elegant" data-lightgallery="dynamic" data-lg-dynamic-elements="[{&quot;thumb&quot;:&quot;images/services-8-565x401.jpg&quot;,&quot;src&quot;:&quot;images/services-8-565x401.jpg&quot;},{&quot;thumb&quot;:&quot;images/services-9-565x401.jpg&quot;,&quot;src&quot;:&quot;images/services-9-565x401.jpg&quot;},{&quot;thumb&quot;:&quot;images/services-10-565x401.jpg&quot;,&quot;src&quot;:&quot;images/services-10-565x401.jpg&quot;},{&quot;thumb&quot;:&quot;images/services-11-565x401.jpg&quot;,&quot;src&quot;:&quot;images/services-11-565x401.jpg&quot;}]"><img src="images/acreen-13s-2676x1740.png" alt="" width="565" height="401"><div class="thumb-elegant__overlay"></div></div></div><div class="col-lg-3 col-md-6 isotope-item" data-filter="Branding"><div class="thumb-elegant" data-lightgallery="dynamic" data-lg-dynamic-elements="[{&quot;thumb&quot;:&quot;images/services-12-565x401.jpg&quot;,&quot;src&quot;:&quot;images/services-12-565x401.jpg&quot;},{&quot;thumb&quot;:&quot;images/services-1-565x401.jpg&quot;,&quot;src&quot;:&quot;images/services-1-565x401.jpg&quot;},{&quot;thumb&quot;:&quot;images/services-2-565x401.jpg&quot;,&quot;src&quot;:&quot;images/services-2-565x401.jpg&quot;},{&quot;thumb&quot;:&quot;images/services-3-565x401.jpg&quot;,&quot;src&quot;:&quot;images/services-3-565x401.jpg&quot;}]"><img src="images/screen-14c-2632x1882.png" alt="" width="565" height="401"><div class="thumb-elegant__overlay"></div></div></div></div></div></section><section class="section parallax-container bg-gray-darker" data-parallax-img="images/bg-image-3-1920x730.jpg"><div class="parallax-content"><div class="section-md text-center"><div class="container"><div class="row row-fix justify-content-md-center"><div class="col-md-9 col-lg-8 col-xl-7"><h3>Suscribete a nuestro Newsletter</h3><p><span class="box-width-1" data-novi-id="1">Suscríbase a nuestro boletín y sea el primero en conocer las últimas noticias, ofertas especiales, eventos y descuentos de la compañía.</span></p><form class="rd-mailform form_transparent rd-mailform_inline-3" data-form-output="form-output-global" data-form-type="subscribe" method="post" action="bat/rd-mailform.php"><div class="form-wrap"><input class="form-input" id="subscribe-form-3-email" type="email" name="email" data-constraints="@Email @Required"><label class="form-label rd-input-label" for="subscribe-form-3-email">Su email:</label></div><button class="button button-default fa-envelope" type="submit"></button></form></div></div></div></div></div></section><section class="section novi-bg novi-bg-img section-md bg-white text-center"><div class="container"><div class="divider"></div></div><div class="container"><div class="row row-50 row-custom-bordered align-items-sm-center"><div class="col-sm-6 col-md-3 wow fadeIn"><a class="link-image" href="#"><img src="images/logo_johnson.jpg" alt="" width="126" height="68"></a></div><div class="col-sm-6 col-md-3 wow fadeIn"><a class="link-image" href="#"><img src="images/logo_toscana.jpg" alt="" width="126" height="100"></a></div><div class="col-sm-6 col-md-3 wow fadeIn"><a class="link-image" href="#"><img src="images/logo_kelloggs.jpg" alt="" width="134" height="83"></a></div><div class="col-sm-6 col-md-3 wow fadeIn"><a class="link-image" href="#"><img src="images/logo_go2-1.png" alt="" width="95" height="73"></a></div><div class="col-sm-6 col-md-3 wow fadeIn"><a class="link-image" href="#"><img src="images/logo-moderna.jpg" alt="" width="138" height="55"></a></div></div></div></section><footer class="section footer-creative bg-primary-darken novi-bg novi-bg-img"><div class="container"><div class="footer-creative__column footer-creative__column_decorated bg-primary"><div class="background-item novi-bg"></div><h3>&nbsp;Soporte&nbsp;24/7:</h3><div class="unit flex-row text-primary-darken-2"><div class="unit__left"><span class="icon novi-icon icon-md icon-default fl-bigmug-line-headphones32"></span></div><div class="unit__body"><a class="link link-lg" href="tel:#">+(593) 3-800-645 </a><p class="ls-05"></p></div></div></div><div class="footer-creative__column"><ul class="list-tags"></ul><hr><div class="layout-justify"><p class="rights"><span>©&nbsp; </span><span class="copyright-year">2019&nbsp;</span><span>&nbsp;GoTrade</span></p><ul class="list-inline list-inline-xs social-list"><li><a class="icon novi-icon icon-gray-dark icon-style-brand fa fa-facebook" href="#"></a></li><li><a class="icon novi-icon icon-gray-dark icon-style-brand fa fa-twitter" href="#"></a></li><li><a class="icon novi-icon icon-gray-dark icon-style-brand fa fa-google-plus" href="#"></a></li><li><a class="icon novi-icon icon-gray-dark icon-style-brand fa fa-pinterest-p" href="#"></a></li></ul></div></div></div></footer></div><div class="snackbars" id="form-output-global"></div><script src="js/core.min.js"></script><script src="js/script.js"></script></body></html>

sources/pug/pages/index.pug
extends  ../_skeleton

//- Includes
include ../elements/_ui-box-lucy

block variables
	- var activeCategory = 'home'
	- var pageName = 'Home'
	- var includeNavHome = true

block page
	// Page Header & Swiper
	header.section.page-header.section-navbar-slider
		include ../includes/_navbar-creative
		.swiper-container.swiper-slider.swiper_style-4.swiper_height-2.swiper-pagination_creative(data-loop='true' data-autoplay='5000' data-simulate-touch='false' data-slide-effect='fade')
			.swiper-wrapper
				.swiper-slide.bg-image-dark(data-slide-bg='images/slider-slide-1-1920x850.jpg')
					.swiper-slide-caption
						.container
							h1.title(data-caption-animate='fadeInUpXSmall') Providing High-Quality Business Solutions
							p.caption(data-caption-animate='fadeInUpSmall') We are one of the world’s leading business consulting companies, which combines classic management consulting with outstanding technological expertise and innovations in marketing and promotion.
							a.button.button-lg.button-gradient.button-ujarak(href="#" data-caption-animate='fadeIn' data-caption-delay='200') Learn more
				
				.swiper-slide.bg-image-dark(data-slide-bg='images/slider-slide-2-1920x850.jpg')
					.swiper-slide-caption
						.container
							h1.title(data-caption-animate='fadeInUpXSmall') A Team of Experts Working for You
							p.caption(data-caption-animate='fadeInUpSmall') Consult is a synonym of professionalism because of the experts we have gathered at our company. Over the years we have helped hundreds of businesses who were more than just satisfied with our work.
							a.button.button-lg.button-gradient.button-ujarak(href="#" data-caption-animate='fadeIn' data-caption-delay='200') Learn more
				
				.swiper-slide.bg-image-dark(data-slide-bg='images/slider-slide-3-1920x850.jpg')
					.swiper-slide-caption
						.container
							h1.title(data-caption-animate='fadeInUpXSmall') Professional Business Approach Since Day One
							p.caption(data-caption-animate='fadeInUpSmall') Since our establishment in 1999, we have been pursuing the goal of satisfying our customers’ needs, be it small business consulting or assistance to bigger companies as well as international enterprises.
							a.button.button-lg.button-gradient.button-ujarak(href="#" data-caption-animate='fadeIn' data-caption-delay='200') Learn more
			
			.swiper-pagination__module
				.swiper-pagination
				.swiper-pagination__divider
				.swiper-pagination__fraction
					span.swiper-pagination__fraction-index 00
					span.swiper-pagination__fraction-divider
					span.swiper-pagination__fraction-count 00
	="\n"
	
	include ../sections/_section-content-creative
	="\n"
	
	// Page Footer
	include ../sections/_footer-creative
