site/sliders.html
<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <!-- Site Title-->
    <title>Sliders</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:400,700%7CSpace+Mono:400">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">
    <style type="text/css">#page-loader{position:fixed;left:0;top:0;bottom:0;right:0;float:left;display:flex;align-items:center;justify-content:center;padding:20px 20px 8%;z-index:9999999;opacity:1;background:#fff;transition:.3s all ease}#page-loader .page-loader-body{text-align:center}#page-loader *+.cssload-wrapper{margin-top:30px}#page-loader.loaded{display:none;z-index:-10000}[data-x-mode=true] #page-loader{display:none!important}.cssload-wrapper{width:300px;max-width:95%}.cssload-border{position:relative;width:100%;padding:8px}.cssload-whitespace{position:relative;overflow:hidden;width:100%;height:5px;margin:0 auto}.cssload-line{position:absolute;width:100%;height:inherit;background:linear-gradient(90deg,#04ccfc,#3a7bd5);animation:cssload-slide 3s ease-in-out infinite both}@media (min-width:768px){.cssload-wrapper{width:400px}}@keyframes cssload-slide{0%{left:-100%}100%{left:100%}}</style>
		<!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
		<![endif]-->
  </head>
  <body>
    <!-- Page Loader-->
    <div id="page-loader">
      <div class="page-loader-body"><img src="images/logo-default-104x20.png" alt="" width="104" height="20" srcset="images/logo-default-208x40.png 2x"/>
        <div class="cssload-wrapper">
          <div class="cssload-border">
            <div class="cssload-whitespace">
              <div class="cssload-line"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="page">
      <header class="section page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-classic novi-bg" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-sm-device-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-stick-up-clone="false" data-md-stick-up-offset="74px" data-lg-stick-up-offset="66px" data-md-stick-up="true" data-lg-stick-up="true">
            <div class="rd-navbar-outer">
              <div class="rd-navbar-inner">
                <!-- RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!-- RD Navbar Brand-->
                  <div class="rd-navbar-brand"><a class="brand" href="index.html">
                      <div class="brand__name"><img class="brand__logo-dark" src="images/logo-default-104x20.png" alt="" width="104" height="20" srcset="images/logo-default-208x40.png 2x"/><img class="brand__logo-light" src="images/logo-inverse-104x20.png" alt="" width="104" height="20" srcset="images/logo-inverse-208x40.png 2x"/>
                      </div></a></div>
                </div>

                <div class="rd-navbar-body">
                  <!-- RD Navbar Aside-->
                  <div class="rd-navbar-aside">
                    <div class="rd-navbar-content-outer">
                      <div class="rd-navbar-content__toggle rd-navbar-static--hidden" data-rd-navbar-toggle=".rd-navbar-content"><span></span></div>
                      <div class="rd-navbar-content">
                        <ul class="list-bordered list-inline">
                          <li>
                            <dl class="list-terms-inline">
                              <dt>24/7 Support</dt>
                              <dd><a href="tel:#">1-800-700-6200</a></dd>
                            </dl>
                          </li>
                          <li>
                            <dl class="list-terms-inline">
                              <dt>E-mail</dt>
                              <dd><a href="mailto:#">mail@demolink.org</a></dd>
                            </dl>
                          </li>
                          <li>
                            <ul class="list-inline list-inline-xs social-list">
                              <li><a class="icon novi-icon icon-gray-dark icon-style-brand fa fa-facebook" href="#"></a></li>
                              <li><a class="icon novi-icon icon-gray-dark icon-style-brand fa fa-twitter" href="#"></a></li>
                              <li><a class="icon novi-icon icon-gray-dark icon-style-brand fa fa-google-plus" href="#"></a></li>
                              <li><a class="icon novi-icon icon-gray-dark icon-style-brand fa fa-pinterest-p" href="#"></a></li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <!-- RD Navbar Nav Wrap-->
                  <div class="rd-navbar-nav-wrap">
                    <div class="rd-navbar-element">
                      <!-- RD Navbar Search-->
                      <div class="rd-navbar-search rd-navbar-search-toggled">
                        <button class="rd-navbar-search-toggle" data-rd-navbar-toggle=".rd-navbar-search"></button>
                        <form class="rd-search" action="search-results.html" data-search-live="rd-search-results-live" method="GET">
                          <div class="form-wrap">
                            <input class="form-input" id="rd-navbar-search-form-input" type="text" name="s" autocomplete="off">
                            <label class="form-label" for="rd-navbar-search-form-input">Search...</label>
                          </div>
                          <button class="rd-navbar-search-submit" type="submit"></button>
                          <div class="rd-search-results-live" id="rd-search-results-live"></div>
                        </form>
                      </div>
                    </div>
                    <!-- RD Navbar Nav-->
                    <ul class="rd-navbar-nav">
                      <li><a href="about.html">About</a>
                      </li>
                      <li><a href="services.html">Services</a>
                      </li>
                      <li><a href="blog.html">Blog</a>
                        <!-- RD Navbar Dropdown-->
                        <ul class="rd-navbar-dropdown">
                          <li><a href="blog-post.html">Blog post</a></li>
                        </ul>
                      </li>
                      <li><a href="faq.html">FAQ</a>
                      </li>
                      <li><a href="pages.html">Pages</a>
                        <!-- RD Navbar Dropdown-->
                        <ul class="rd-navbar-dropdown">
                          <li><a href="maintenance.html">Maintenance</a></li>
                          <li><a href="privacy-policy.html">Privacy policy</a></li>
                          <li><a href="404-page.html">404 Page</a></li>
                          <li><a href="coming-soon.html">Coming Soon</a></li>
                        </ul>
                      </li>
                      <li><a href="contact-us.html">Contact Us</a>
                      </li>
                      <li class="active"><a href="#">Elements</a>
                        <!-- RD Navbar Megamenu-->
                        <ul class="rd-navbar-megamenu">
                          <li>
                            <h5 class="rd-megamenu-header">Elements 1</h5>
                            <ul class="rd-megamenu-list">
                              <li><a href="breadcrumbs.html">Breadcrumbs</a></li>
                              <li><a href="maps.html">Maps</a></li>
                              <li><a href="sliders.html">Sliders</a></li>
                              <li><a href="gallery.html">Gallery</a></li>
                              <li><a href="gallery-album.html">Gallery Album</a></li>
                            </ul>
                          </li>
                          <li>
                            <h5 class="rd-megamenu-header">Elements 2</h5>
                            <ul class="rd-megamenu-list">
                              <li><a href="headers.html">Headers</a></li>
                              <li><a href="footers.html">Footers</a></li>
                              <li><a href="pricing.html">Pricing</a></li>
                              <li><a href="testimonials.html">Testimonials</a></li>
                              <li><a href="partners.html">Partners</a></li>
                            </ul>
                          </li>
                          <li>
                            <h5 class="rd-megamenu-header">Elements 3</h5>
                            <ul class="rd-megamenu-list">
                              <li><a href="forms.html">Forms</a></li>
                              <li><a href="team.html">Team</a></li>
                              <li><a href="counters.html">Counters</a></li>
                              <li><a href="advantages.html">Advantages</a></li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>

      <!-- Breadcrumbs-->
      <section class="section breadcrumbs-custom">
        <div class="breadcrumbs-custom__aside bg-image context-dark novi-bg novi-bg-img" style="background-image: url(images/bg-breadcrumb-5-1920x238.jpg);">
          <div class="container">
            <h2 class="breadcrumbs-custom__title">Sliders</h2>
          </div>
        </div>
        <div class="breadcrumbs-custom__main bg-gray-light novi-bg">
          <div class="container">
            <ul class="breadcrumbs-custom__path">
              <li><a href="index.html">Home</a></li>
              <li><a href="#">Elements</a></li>
              <li class="active">Sliders</li>
            </ul>
          </div>
        </div>
      </section>

      <section class="section section-sm bg-default novi-bg novi-bg-img">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h3>Slider Classic</h3>
            </div>
          </div>
        </div>
      </section>
      <section class="section swiper-container swiper-slider swiper_style-1 swiper_height-1 swiper-controls-classic" data-loop="true" data-autoplay="3500" data-simulate-touch="false">
        <div class="swiper-wrapper">
          <div class="swiper-slide bg-image-dark" data-slide-bg="images/slider-slide-1-1920x850.jpg">
            <div class="swiper-slide-caption">
              <div class="swiper-slide-decoration" data-caption-animate="scaleInY"><span></span></div>
              <div class="container">
                <h1 data-caption-animate="fadeInUpSmall">Providing High-Quality Business Solutions</h1>
                <div class="group group-md group-middle" data-caption-animate="fadeInUpSmall" data-caption-delay="100">
                  <div class="group-item">
                    <div class="group group-sm group-middle">
                      <p class="text-column">for</p>
                      <h1>You</h1>
                    </div>
                  </div><a class="button button-lg button-primary button-ujarak" href="#">Get Started</a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide bg-image-dark" data-slide-bg="images/slider-slide-2-1920x850.jpg">
            <div class="swiper-slide-caption">
              <div class="swiper-slide-decoration" data-caption-animate="scaleInY"><span></span></div>
              <div class="container">
                <h1 data-caption-animate="fadeInUpSmall">A Team of Experts Working</h1>
                <div class="group group-md group-middle" data-caption-animate="fadeInUpSmall" data-caption-delay="100">
                  <div class="group-item">
                    <div class="group group-sm group-middle">
                      <p class="text-column">for</p>
                      <h1>You</h1>
                    </div>
                  </div><a class="button button-lg button-primary button-ujarak" href="#">Get Started</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </section>

      <section class="section section-sm bg-default novi-bg novi-bg-img">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h3>Slider Creative</h3>
            </div>
          </div>
        </div>
      </section>
      <section class="section">
        <div class="swiper-container swiper-slider swiper_style-4 swiper_height-2 swiper-pagination_creative" data-loop="true" data-autoplay="3500" data-simulate-touch="false" data-slide-effect="fade">
          <div class="swiper-wrapper">
            <div class="swiper-slide bg-image-dark" data-slide-bg="images/slider-slide-1-1920x850.jpg">
              <div class="swiper-slide-caption">
                <div class="container">
                  <h1 class="title" data-caption-animate="fadeInUpXSmall">Providing High-Quality Business Solutions</h1>
                  <p class="caption" data-caption-animate="fadeInUpSmall">We are one of the world’s leading business consulting companies, which combines classic management consulting with outstanding technological expertise and innovations in marketing and promotion.</p><a class="button button-lg button-gradient button-ujarak" href="#" data-caption-animate="fadeIn" data-caption-delay="200">Learn more</a>
                </div>
              </div>
            </div>
            <div class="swiper-slide bg-image-dark" data-slide-bg="images/slider-slide-2-1920x850.jpg">
              <div class="swiper-slide-caption">
                <div class="container">
                  <h1 class="title" data-caption-animate="fadeInUpXSmall">A Team of Experts Working</h1>
                  <p class="caption" data-caption-animate="fadeInUpSmall">Consult is a synonym of professionalism because of the experts we have gathered at our company. Over the years we have helped hundreds of businesses who were more than just satisfied with our work.</p><a class="button button-lg button-gradient button-ujarak" href="#" data-caption-animate="fadeIn" data-caption-delay="200">Learn more</a>
                </div>
              </div>
            </div>
            <div class="swiper-slide bg-image-dark" data-slide-bg="images/slider-slide-3-1920x850.jpg">
              <div class="swiper-slide-caption">
                <div class="container">
                  <h1 class="title" data-caption-animate="fadeInUpXSmall">Professional Business Approach Since Day One</h1>
                  <p class="caption" data-caption-animate="fadeInUpSmall">Since our establishment in 1999, we have been pursuing the goal of satisfying our customers’ needs, be it small business consulting or assistance to bigger companies as well as international enterprises.</p><a class="button button-lg button-gradient button-ujarak" href="#" data-caption-animate="fadeIn" data-caption-delay="200">Learn more</a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-pagination__module">
            <div class="swiper-pagination"></div>
            <div class="swiper-pagination__divider"></div>
            <div class="swiper-pagination__fraction"><span class="swiper-pagination__fraction-index">00</span><span class="swiper-pagination__fraction-divider"></span><span class="swiper-pagination__fraction-count">00</span></div>
          </div>
        </div>
      </section>

      <section class="section section-sm bg-default novi-bg novi-bg-img">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h3>Slider Modern</h3>
            </div>
          </div>
        </div>
      </section>
      <section class="section swiper-container swiper-slider swiper_style-2 swiper-controls-modern" data-loop="true" data-autoplay="3500" data-simulate-touch="false">
        <div class="swiper-wrapper">
          <div class="swiper-slide bg-image-dark" data-slide-bg="images/slider-slide-2-1920x850.jpg">
            <div class="swiper-slide-caption">
              <div class="swiper-slide-decoration" data-caption-animate="scaleInY"><span></span></div>
              <div class="container">
                <h1 data-caption-animate="fadeInUpSmall">A Team of Experts Working</h1>
                <div class="group group-md group-middle" data-caption-animate="fadeInUpSmall" data-caption-delay="100">
                  <div class="group-item">
                    <div class="group group-sm group-middle">
                      <p class="text-column">for</p>
                      <h1>You</h1>
                    </div>
                  </div><a class="button button-lg button-primary button-ujarak" href="#">Get Started</a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide bg-image-dark" data-slide-bg="images/slider-slide-3-1920x850.jpg">
            <div class="swiper-slide-caption">
              <div class="swiper-slide-decoration" data-caption-animate="scaleInY"><span></span></div>
              <div class="container">
                <h1 data-caption-animate="fadeInUpSmall">Professional Business Approach Since Day One</h1>
                <div class="group group-md group-middle" data-caption-animate="fadeInUpSmall" data-caption-delay="100">
                  <div class="group-item">
                    <div class="group group-sm group-middle">
                      <p class="text-column">for</p>
                      <h1>You</h1>
                    </div>
                  </div><a class="button button-lg button-primary button-ujarak" href="#">Get Started</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </section>

      <!-- Page Footer-->
      <footer class="section footer-creative bg-primary-darken novi-bg novi-bg-img">
        <div class="container">
          <div class="footer-creative__column footer-creative__column_decorated bg-primary">
            <div class="background-item novi-bg"></div>
            <h3>24/7 Support:</h3>
            <div class="unit flex-row text-primary-darken-2">
              <div class="unit__left"><span class="icon novi-icon icon-md icon-default fl-bigmug-line-headphones32"></span></div>
              <div class="unit__body"><a class="link link-lg" href="tel:#">1-800-700-6200</a>
                <p class="ls-05">Our Support Service is always available to help you.</p>
              </div>
            </div>
          </div>
          <div class="footer-creative__column">
            <ul class="list-tags">
              <li><a href="#">Tutorials</a></li>
              <li><a href="pricing.html">Pricing</a></li>
              <li><a href="#">Support</a></li>
              <li><a href="contact-us.html">Contact Us</a></li>
              <li><a href="blog.html">Blog</a></li>
              <li><a href="#">Operations Consulting</a></li>
              <li><a href="#">Market Analysis</a></li>
              <li><a href="#">Risk Management</a></li>
              <li><a href="#">Employee training</a></li>
              <li><a href="#">Investment banking</a></li>
              <li><a href="#">Business planning</a></li>
            </ul>
            <hr>
            <div class="layout-justify">
              <!-- Rights-->
              <p class="rights"><span>&copy;&nbsp; </span><span class="copyright-year"></span><span>&nbsp;</span><span>Consult</span><span>.&nbsp;</span><a href="privacy-policy.html">Privacy Policy</a><span>.</span><span> Design&nbsp;by&nbsp;<a href="https://zemez.io/">Zemez</a></span></p>
              <ul class="list-inline list-inline-xs social-list">
                <li><a class="icon novi-icon icon-gray-dark icon-style-brand fa fa-facebook" href="#"></a></li>
                <li><a class="icon novi-icon icon-gray-dark icon-style-brand fa fa-twitter" href="#"></a></li>
                <li><a class="icon novi-icon icon-gray-dark icon-style-brand fa fa-google-plus" href="#"></a></li>
                <li><a class="icon novi-icon icon-gray-dark icon-style-brand fa fa-pinterest-p" href="#"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>

    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>

sources/pug/pages/sliders.pug
extends  ../_skeleton

//- Includes
include ../elements/_ui-comment

block variables
	- var activeCategory = 'elements'
	- var pageName = 'Sliders'

block page
	include ../sections/_header-classic
	
	+breadcrumbs({
		category: activeCategory,
		path: [pageName],
		bgImage: 'bg-breadcrumb-5-1920x238'
	})
	
	section.section.section-sm.bg-default.novi-bg.novi-bg-img
		.container
			.row
				.col-12
					h3 Slider Classic
	section.section.swiper-container.swiper-slider.swiper_style-1.swiper_height-1.swiper-controls-classic(
		data-loop='true'
		data-autoplay='3500'
		data-simulate-touch='false'
	)
		.swiper-wrapper
			.swiper-slide.bg-image-dark(data-slide-bg='images/slider-slide-1-1920x850.jpg')
				.swiper-slide-caption
					.swiper-slide-decoration(data-caption-animate='scaleInY'): span
					.container
						h1(data-caption-animate='fadeInUpSmall') Providing High-Quality Business Solutions
						.group.group-md.group-middle(data-caption-animate='fadeInUpSmall' data-caption-delay='100')
							.group-item
								.group.group-sm.group-middle
									p.text-column for
									h1 You
							a.button.button-lg.button-primary.button-ujarak(href='#') Get Started
			
			.swiper-slide.bg-image-dark(data-slide-bg='images/slider-slide-2-1920x850.jpg')
				.swiper-slide-caption
					.swiper-slide-decoration(data-caption-animate='scaleInY'): span
					.container
						h1(data-caption-animate='fadeInUpSmall') A Team of Experts Working
						.group.group-md.group-middle(data-caption-animate='fadeInUpSmall' data-caption-delay='100')
							.group-item
								.group.group-sm.group-middle
									p.text-column for
									h1 You
							a.button.button-lg.button-primary.button-ujarak(href='#') Get Started
		
		.swiper-pagination
		
		.swiper-button-prev
		.swiper-button-next
	='\n'
	
	section.section.section-sm.bg-default.novi-bg.novi-bg-img
		.container
			.row
				.col-12
					h3 Slider Creative
	section.section
		.swiper-container.swiper-slider.swiper_style-4.swiper_height-2.swiper-pagination_creative(data-loop='true' data-autoplay='3500' data-simulate-touch='false' data-slide-effect='fade')
			.swiper-wrapper
				.swiper-slide.bg-image-dark(data-slide-bg='images/slider-slide-1-1920x850.jpg')
					.swiper-slide-caption
						.container
							h1.title(data-caption-animate='fadeInUpXSmall') Providing High-Quality Business Solutions
							p.caption(data-caption-animate='fadeInUpSmall') We are one of the world’s leading business consulting companies, which combines classic management consulting with outstanding technological expertise and innovations in marketing and promotion.
							a.button.button-lg.button-gradient.button-ujarak(href="#" data-caption-animate='fadeIn' data-caption-delay='200') Learn more
				
				.swiper-slide.bg-image-dark(data-slide-bg='images/slider-slide-2-1920x850.jpg')
					.swiper-slide-caption
						.container
							h1.title(data-caption-animate='fadeInUpXSmall') A Team of Experts Working
							p.caption(data-caption-animate='fadeInUpSmall') Consult is a synonym of professionalism because of the experts we have gathered at our company. Over the years we have helped hundreds of businesses who were more than just satisfied with our work.
							a.button.button-lg.button-gradient.button-ujarak(href="#" data-caption-animate='fadeIn' data-caption-delay='200') Learn more
				
				.swiper-slide.bg-image-dark(data-slide-bg='images/slider-slide-3-1920x850.jpg')
					.swiper-slide-caption
						.container
							h1.title(data-caption-animate='fadeInUpXSmall') Professional Business Approach Since Day One
							p.caption(data-caption-animate='fadeInUpSmall') Since our establishment in 1999, we have been pursuing the goal of satisfying our customers’ needs, be it small business consulting or assistance to bigger companies as well as international enterprises.
							a.button.button-lg.button-gradient.button-ujarak(href="#" data-caption-animate='fadeIn' data-caption-delay='200') Learn more
			
			.swiper-pagination__module
				.swiper-pagination
				.swiper-pagination__divider
				.swiper-pagination__fraction
					span.swiper-pagination__fraction-index 00
					span.swiper-pagination__fraction-divider
					span.swiper-pagination__fraction-count 00
	='\n'
	
	section.section.section-sm.bg-default.novi-bg.novi-bg-img
		.container
			.row
				.col-12
					h3 Slider Modern
	section.section.swiper-container.swiper-slider.swiper_style-2.swiper-controls-modern(
		data-loop='true'
		data-autoplay='3500'
		data-simulate-touch='false'
	)
		.swiper-wrapper
			.swiper-slide.bg-image-dark(data-slide-bg='images/slider-slide-2-1920x850.jpg')
				.swiper-slide-caption
					.swiper-slide-decoration(data-caption-animate='scaleInY'): span
					.container
						h1(data-caption-animate='fadeInUpSmall') A Team of Experts Working
						.group.group-md.group-middle(data-caption-animate='fadeInUpSmall' data-caption-delay='100')
							.group-item
								.group.group-sm.group-middle
									p.text-column for
									h1 You
							a.button.button-lg.button-primary.button-ujarak(href='#') Get Started
			
			.swiper-slide.bg-image-dark(data-slide-bg='images/slider-slide-3-1920x850.jpg')
				.swiper-slide-caption
					.swiper-slide-decoration(data-caption-animate='scaleInY'): span
					.container
						h1(data-caption-animate='fadeInUpSmall') Professional Business Approach Since Day One
						.group.group-md.group-middle(data-caption-animate='fadeInUpSmall' data-caption-delay='100')
							.group-item
								.group.group-sm.group-middle
									p.text-column for
									h1 You
							a.button.button-lg.button-primary.button-ujarak(href='#') Get Started
		
		.swiper-pagination
		
		.swiper-button-prev
		.swiper-button-next
	='\n'
	
	// Page Footer
	include ../sections/_footer-creative
